.r-hidden {
  display: none;
  opacity: 0;
  outline: 0;
}

/* r-accordion */
.r-accordion-header {
  display: inline-block;
  width: 100%;
}
.r-accordion-icon {
  display: inline-block;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s;
}
.r-accordion-icon.rotate {
  transform: rotate(180deg);
}
.r-accordion-body {
  overflow: hidden;
}

/* r-action-button */
.r-action-button {
  display: block;
  width: 90px;
  height: 50px;
  text-align: center;
  line-height: 47px;
  background-color: #ffffff;
  border-radius: 25px;
  border: 2px #cccccc solid;
  box-sizing: border-box;
  color: #333333;
  font-weight: bold;
}
.r-action-button:hover {
text-decoration: none;
border:2px #cf1623 solid;
}

/* r-block */
.r-block {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 25px;
  padding: 20px 20px 0;
}
.r-block .r-block {
  margin: 0;
  padding: 0;
}
.r-block-border-top {
  border-top: 1px #cccccc solid;
}
.r-block-border-right {
  border-right: 1px #cccccc solid;
}
.r-block-border-bottom {
  border-bottom: 1px #cccccc solid;
}
.r-block-border-left {
  border-left: 1px #cccccc solid;
}
.r-block-enter-active, .r-block-leave-active {
  transition: opacity .7s;
}
.r-block-enter, .r-block-leave-to {
  opacity: 0;
}

/* r-button */
.r-button {
  outline: 0;
  display: inline-block;
  box-sizing: border-box;
  border: 2px #cccccc solid;
  border-radius: 8px;
  padding: 1px 12px 0 12px;
}
.r-button.is-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* r-link-button */
.r-link-button {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  font-size: inherit;
  line-height: 1.4;
  text-decoration: underline;
  background-color: #fff0;
  color: #3869ac;
}



/* r-check-box */
.r-check-box {
  cursor: pointer;
  outline: 0;
  display: block;
  float: left;
  box-sizing: border-box;
  margin: 0 10px;
  padding: 2px;
  border: 2px solid #cccccc;
  border-radius: 10px;
}
.r-check-box.is-checked {
  padding: 0;
  border: 4px solid #cf1623;
}
.r-check-box.is-readonly {
  cursor: not-allowed;
  background-color: #ddd;
}
.r-check-box.is-disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: #888;
}
.r-check-box-box {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 48px;
  height: 100%;
}
.r-check-box .r-check-box-inline:before {
  content: url(../images/common/rs_radioBg_off.png);
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: 2px;
  margin: 0 8px 0 0;
}
.r-check-box.is-checked .r-check-box-inline:before {
  content: url(../images/common/rs_radioBg_on.png);
}
.r-check-box-inline-left {
  width: 100%;
  padding-left: 8px;
}
.r-check-box-inline-right {
  width: 100%;
  padding-right: 12px;
  text-align: right;
}

/* r-list-box */
.r-list-box {
  cursor: pointer;
  outline: 0;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  min-width: 56px;
  min-height: 28px;
  margin: 0;
  padding: 0 40px 0 12px;
  box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.2) inset;
  border: none;
  border-radius: 10px;
  background: url(../images/r-selectBg.png) no-repeat right center;
  background-position: right 12px center;
}
.r-list-box::-ms-expand {
    display: none;
}
.r-list-box:not(:-internal-list-box) {
  overflow: visible !important;
}
.r-list-box.is-readonly {
  cursor: not-allowed;
  background-color: #ddd !important;
}
.r-list-box.is-disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: #888 !important;
}
.r-list-box option {
  color: #000;
}
.r-list-box.placeholder-selected {
  color: #ccc;
}

/* r-mini-radio */
.r-mini-radio {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  box-sizing: border-box;
  border-style: none;
}
.r-mini-radio-box.is-readonly {
  cursor: not-allowed;
  color: #888;
}
.r-mini-radio-box.is-disabled {
  cursor: not-allowed;
  opacity: 0.5;
  color: #888;
}
.r-mini-radio + .r-mini-radio {
  margin-left: 20px;
}
.r-mini-radio-box {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 32px;
  height: 100%;
}
.r-mini-radio-box:before {
  content: '●';
  display: inline-block;
  width: 28px;
  height: 28px;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2) inset;
  border-radius: 50%;
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin: 0 7px 0 0;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  background-color: #ffffff;
  color: transparent;
}
.is-checked .r-mini-radio-box:before {
  color: #cf1623;
}
.r-mini-radio-label {
  height: 100%;
}

/* r-on-off-list-box */
.r-on-off-list-box {
  cursor: pointer;
  outline: 0;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  min-width: 56px;
  min-height: 28px;
  margin: 0;
  padding: 0 40px 0 12px;
  box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.2) inset;
  border: none;
  border-radius: 10px;
  background: url(../images/r-selectBg.png) no-repeat right center;
  background-position: right 12px center;
}
.r-on-off-list-box select::-ms-expand {
    display: none;
}
.r-on-off-list-box select:not(:-internal-list-box) {
  overflow: visible !important;
}
.r-on-off-list-box--placeholder {
  pointer-events: none;
  position: absolute;
  top: 3px;
  margin: 0 5px;
  padding: 10px 40px 10px 20px;
  color: #9c9fa6;
}
.r-on-off-list-box.is-disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: #888;
}

.r-on-off-list-box .on {
  color: #71ccf8;
  font-family: "ＭＳ Ｐゴシック","ヒラギノ角ゴ Pro W3","Osaka","MS UI Gothic",sans-serif;
  font-size: 1.5em;
  font-weight: bold !important;
  min-height: 50px;
}
.r-on-off-list-box .off {
  color: #71ccf8;
  font-size: 1.5em;
  font-family: "ＭＳ Ｐゴシック","ヒラギノ角ゴ Pro W3","Osaka","MS UI Gothic",sans-serif;
  font-weight: bold !important;
  min-height: 50px;
}

/* r-radio */
.r-radio {
  cursor: pointer;
  outline: 0;
  display: block;
  float: left;
  box-sizing: border-box;
  margin: 0 10px;
  padding: 2px;
  border: 2px solid #cccccc;
  border-radius: 10px;
  background: url(../images/common/rs_radioBg_off.png) no-repeat;
  background-position: left 16px center;
}
.r-radio.is-checked {
  padding: 0;
  border: 4px solid #cf1623;
  background: url(../images/common/rs_radioBg_on.png) no-repeat;
  background-position: left 14px center;
}
.r-radio.is-readonly {
  cursor: not-allowed;
  background-color: #ddd;
}
.r-radio.is-disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: #888;
}
.r-radio-box {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  margin-left: 42px;
}
.r-radio-inline-left {
  width: 100%;
  padding-left: 18px;
}
.r-radio-inline-right {
  width: 100%;
  padding-right: 12px;
  text-align: right;
}

/* r-text-box */
.r-text-box {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: 0;
  box-sizing: border-box;
  min-width: 28px;
  min-height: 28px;
  padding: 0 10px;
  line-height: 1;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2) inset;
  color: #333333;
}
.r-text-box.is-readonly {
  cursor: not-allowed;
  background-color: #ddd;
}
.r-text-box.is-disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: #ddd;
}
.r-text-box::-ms-clear {
  display: none;
}
.r-text-box-center {
  text-align: center;
}
.r-text-box-right {
  text-align: right;
}

/* r-kana-box */
.r-kana-box {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: 0;
  box-sizing: border-box;
  min-width: 28px;
  min-height: 28px;
  padding: 0 10px;
  line-height: 1;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2) inset;
  color: #333333;
}
.r-kana-box.is-readonly {
  cursor: not-allowed;
  background-color: #ddd;
}
.r-kana-box.is-disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: #888;
}
.r-kana-box::-ms-clear {
  display: none;
}

/* r-number-box */
.r-number-box {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: 0;
  box-sizing: border-box;
  min-width: 28px;
  min-height: 28px;
  padding: 0 10px;
  line-height: 1;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2) inset;
  color: #333333;
}
.r-number-box.is-readonly {
  cursor: not-allowed;
  background-color: #ddd;
}
.r-number-box.is-disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: #ddd;
}
.r-number-box::-ms-clear {
  display: none;
}
.r-number-box-center {
  text-align: center;
}
.r-number-box-right {
  text-align: right;
}

/* r-yes-no-radio */
.r-yes,
.r-no {
  cursor: pointer;
  outline: 0;
  display: block;
  float: left;
  box-sizing: border-box;
  margin: 0 10px;
  padding: 2px;
  border: 2px solid #cccccc;
  border-radius: 10px;
  background-color: #fff;
}
.r-yes.is-readonly,
.r-no.is-readonly {
  cursor: not-allowed;
  background-color: #ddd;
}
.r-yes.is-disabled,
.r-no.is-disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: #888;
}
.r-yes {
  background-image: url(../images/r-yesBg_off.png);
  background-repeat: no-repeat;
  background-position: left 22px center;
}
.r-yes.is-checked {
  padding: 0;
  border: 4px solid #cf1623;
  background-image: url(../images/r-yesBg_on.png);
  background-repeat: no-repeat;
  background-position: left 20px center;
}
.r-no {
  background-image: url(../images/r-noBg_off.png);
  background-repeat: no-repeat;
  background-position: left 22px center;
}
.r-no.is-checked {
  padding: 0;
  border: 4px solid #cf1623;
  background-image: url(../images/r-noBg_on.png);
  background-repeat: no-repeat;
  background-position: left 20px center;
}
.r-yes-no-radio-box {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 64px;
  height: 100%;
  margin-left: 32px;
}

/* r-help-link */
.r-help-link {
  outline: 0;
  display: inline-block;
  line-height: 1.4;
  font-size: 0.9em;
  color: #3869ac;
  text-decoration: underline;
}
.r-help-link-img {
  width: 22px;
  height: 22px;
  margin: 0 4px 1px 4px;
  padding: 0;
  vertical-align: middle;
}


/* vue-popperjs */
.popper {
  display: inline-block;
  position: absolute;
  z-index: 1000;
  width: auto;
  padding: 16px;
  font-size: 14px;
  font-weight: normal;
  border: 3px #888888 solid;
  border-radius: 5px;
  -moz-box-shadow: rgba(0,0,0,0.4) 5px 5px 10px 0;
  -webkit-box-shadow: rgba(0,0,0,0.4) 5px 5px 10px 0;
  box-shadow: rgba(0,0,0,0.4) 5px 5px 10px 0;
  background-color: #f7f7f7;
}

.popper .popper__arrow {
  position: absolute;
  width: 0;
  height: 0;
  margin: 5px;
  border-style: solid;
}

.popper[x-placement^="top"] {
  margin-bottom: 5px;
}

.popper[x-placement^="top"] .popper__arrow {
  transform: rotate(45deg);
  bottom: -11px;
  left: calc(50% - 5px);
  width: 16px;
  height: 16px;
  margin-top: 0;
  margin-bottom: 0;
  border-style: solid;
  border-width: 3px;
  border-color: transparent #888888 #888888 transparent;
  border-radius: 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 10px 0 10px -5px;
  -webkit-box-shadow: rgba(0,0,0,0.2) 10px 0 10px -5px;
  box-shadow: rgba(0,0,0,0.2) 10px 0 10px -5px;
  background-color: #f7f7f7;
}

.popper[x-placement^="bottom"] {
  margin-top: 5px;
}

.popper[x-placement^="bottom"] .popper__arrow {
  transform: rotate(45deg);
  top: -11px;
  left: calc(50% - 20px);
  width: 16px;
  height: 16px;
  margin-top: 0;
  margin-bottom: 0;
  border-style: solid;
  border-width: 3px;
  border-color: #888888 transparent transparent #888888;
  border-radius: 3px;
  background-color: #f7f7f7;
}

.popper[x-placement^="right"] {
  margin-left: 5px;
}

.popper[x-placement^="right"] .popper__arrow {
  transform: rotate(45deg);
  top: calc(50% - 5px);
  left: -13px;
  width: 16px;
  height: 16px;
  margin-top: 0;
  margin-bottom: 0;
  border-style: solid;
  border-width: 3px;
  border-color: transparent transparent #888888 #888888;
  border-radius: 3px;
  background-color: #f7f7f7;
}

.popper[x-placement^="left"] {
  margin-right: 5px;
}

.popper[x-placement^="left"] .popper__arrow {
  transform: rotate(45deg);
  top: calc(50% - 5px);
  right: -13px;
  width: 16px;
  height: 16px;
  margin-top: 0;
  margin-bottom: 0;
  border-style: solid;
  border-width: 3px;
  border-color: #888888 #888888 transparent transparent;
  border-radius: 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 10px 0 10px -5px;
  -webkit-box-shadow: rgba(0,0,0,0.2) 10px 0 10px -5px;
  box-shadow: rgba(0,0,0,0.2) 10px 0 10px -5px;
  background-color: #f7f7f7;
}

