@charset 'utf-8';
/*  common
---------------------------- */

.clearfix:after {
content: "";
clear: both;
display: block;
}
* {
box-sizing: border-box;
}

.inner {
max-width: 950px;
margin: 0 auto;
}

a:hover {
  text-decoration: none;
}

img {
max-width: 100%;
}

table{
	width: 100%;
	word-break: break-all;
	word-wrap: break-all;
}

/*  header
---------------------------- */
#grpheader{
font-size:1.2rem;
}

#grpheader .search-bar{
position: inherit;
}

#mddNav li{
margin-bottom:0;
}

#grpheader .zdo_drawer_nav li{
margin-top:0;
}

#grpheader .search-bar .form-control{
background-color: #f0f0f0;
border: none;
padding: 0;
height: 25px;
width: 95px;
display: block;
}

#grpheader .rex-icon{
position: inherit;
top: 0;
right: -8px;
}

#grpheader button{
color: buttontext;
}

#grpheader .searchWrap input {
position: inherit;
}

#grpheader .search-bar .input-group-btn{
position: inherit;
}

.rakutenLinks{
width:100%;
}

.rc-h-inner li{
margin-bottom: 0;
}

#grpheader .zdo_drawer_menu{
font-family:rex-icon;
}


#grpheader #grpheaderIn {
  width: 950px;
  height: 130px;
  margin: 0px auto;
  position: relative;
  background: none;
}
#grpheader #grpheaderIn h1 {
/* display:none; */
}
#grpheader #grpheaderIn #siteID {
  position: relative;
}
#grpheader #grpheaderIn #siteID .serviceLogo {
  position: absolute;
  top: 20px;
  left: 7px;
}
#grpheader #grpheaderIn #siteID .serviceTitle {
  position: absolute;
  top: 26px;
  left: 109px;
}
#grpheader #grpheaderIn #siteID .serviceTitle a {
  color: #bf0000;
  font-weight: bold;
  font-size: 166%;
}
#grpheader #grpheaderIn #siteID .serviceTitle a:hover {
  text-decoration: none;
}
#g03 #grpheader #grpheaderIn {
  width: 950px;
  height: 58px;
  margin: 0px auto;
  position: relative;
  background: none;
}
#g03 #grpheader #grpheaderIn #siteID .serviceLogo {
  position: absolute;
  top: 0px;
  left: 0px;
}
#g03 #grpheader #grpheaderIn #siteID .serviceTitle {
  position: absolute;
  top: 13px;
  left: 108px;
}
/*!
Rakuten Common Header
Version: 0.1.4
*/
/*
* Skin
* The custom styles go here.
*/
/* Contents Width */
#grpheader .rc-h-inner {
  max-width: 950px;
  width: 100%;
}
/* Minimum Contents Width */
#grpheader, #grpheader.rc-h-liquid .rc-h-noscript-bar, #grpheader.rc-h-liquid .rc-h-utility-bar, #grpheader.rc-h-liquid .rc-h-service-bar {
  min-width: 950px;
}

/* Base Text Style */

#grpheader {
  line-height: 1.6;
  box-shadow: -1px 1px 3px rgba(0,0,0,.2);
}
/* Base Font Color */
#grpheader, #grpheader a:link, #grpheader a:visited, #grpheader a:hover, #grpheader a:active {
  color: #4f4f4f;
}
/* Skin Font Color */
#grpheader .rc-h-action-nav .rc-h-action-btn {
  color: #999;
}
/* Skin Border Color */
#grpheader .rc-h-action-nav .rc-h-action-btn.rc-h-strong-action {
  border-color: #bf0000;
}
#grpheader .rc-h-action-nav .rc-h-action-btn.rc-h-lo-action {
  background: url('/common02/img/rc-h-icon-logout.png') 7px center no-repeat;
  padding-left: 28px;
}
/* Skin Background Color */
#grpheader .rc-h-action-nav .rc-h-action-btn.rc-h-strong-action, #grpheader .rc-h-action-nav .rc-h-btn-group .rc-h-action-btn {
  background-color: #bf0000;
}
/* Skin Highlight Background Color */
#grpheader .rc-h-genre-dropdown:hover > a, #grpheader .rc-h-genre-dropdown.rc-h-hover > a {
  background-color: #003bb3;
}
/* Action Button Color */
#grpheader .rc-h-action-nav .rc-h-action-btn.rc-h-marketspeed-action {
  background-color: #01154d;
}
#grpheader .rc-h-action-nav .rc-h-action-btn.rc-h-ispeed-action {
  background-color: #000000;
}
/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.rc-h-icon-browse {
  background-image: url(../../../../img/rc-h-sprites.png);
  background-position: 0px -22px;
  width: 18px;
  height: 18px;
}
.rc-h-icon-cart-white {
  background-image: url(../../../../img/rc-h-sprites.png);
  background-position: 0px 0px;
  width: 20px;
  height: 20px;
}
.rc-h-icon-cart {
  background-image: url(../../../../img/rc-h-sprites.png);
  background-position: -22px 0px;
  width: 20px;
  height: 20px;
}
.rc-h-icon-favorite {
  background-image: url(../../../../img/rc-h-sprites.png);
  background-position: -20px -22px;
  width: 18px;
  height: 18px;
}
.rc-h-icon-purchase {
  background-image: url(../../../../img/rc-h-sprites.png);
  background-position: -44px 0px;
  width: 18px;
  height: 18px;
}
/* Dropdown Module */
#grpheader .rc-h-dropdown {
  position: relative;
}
#grpheader .rc-h-dropdown .rc-h-dropdown-panel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  margin: 0;
  padding: 1px;
  background: #ffffff;
  border: 1px solid #cccccc;
  z-index: 15;
  white-space: nowrap;
  -webkit-box-shadow: 1px 1px 2px 0 #cecece;
  box-shadow: 1px 1px 2px 0 #cecece;
  display: none;
  top: 100%;
  left: 0;
}
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li {
  position: relative;
  float: none;
  margin: 0;
  padding: 0;
}
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li > a, #grpheader .rc-h-dropdown .rc-h-dropdown-panel > li > span {
  display: block;
  position: relative;
  padding: 4px 14px 4px 10px;
  cursor: pointer;
}
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li:hover > a, #grpheader .rc-h-dropdown .rc-h-dropdown-panel > li:hover > span, #grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-hover > a, #grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-hover > span, #grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-active > a, #grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-active > span, #grpheader .rc-h-dropdown .rc-h-dropdown-panel > li a.rc-h-active, #grpheader .rc-h-dropdown .rc-h-dropdown-panel > li span.rc-h-active {
  background: #f6f6f6;
  color: #000000;
  text-decoration: none;
}
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-dropdown-child > a, #grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-dropdown-child > span {
  padding-right: 28px;
}
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-dropdown-child > a:after, #grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-dropdown-child > span:after {
  position: absolute;
  top: 50%;
  right: 8px;
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 4px;
  border-right-width: 0;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-color: transparent transparent transparent #686868;
  margin-top: -4px;
  vertical-align: middle;
}
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-dropdown-child > .rc-h-dropdown-panel {
  display: none;
  top: 0;
  left: 100%;
  margin-left: -5px;
}
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-dropdown-child:hover > a:after, #grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-dropdown-child:hover > span:after, #grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-dropdown-child.rc-h-hover > a:after, #grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-dropdown-child.rc-h-hover > span:after {
  border-left-color: #f2ab00;
}
#grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-dropdown-child:hover > .rc-h-dropdown-panel, #grpheader .rc-h-dropdown .rc-h-dropdown-panel > li.rc-h-dropdown-child.rc-h-hover > .rc-h-dropdown-panel {
  display: block;
}
#grpheader .rc-h-dropdown:hover .rc-h-dropdown-panel, #grpheader .rc-h-dropdown.rc-h-hover .rc-h-dropdown-panel {
  display: block;
}
/* Combobox Module */
#grpheader .rc-h-combobox-module {
  position: relative;
}
#grpheader .rc-h-combobox-module .rc-h-combobox-label {
  position: relative;
  padding: 0 22px 0 8px;
  background: #ffffff;
  line-height: 26px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#grpheader .rc-h-combobox-module .rc-h-combobox-label:after {
  position: absolute;
  top: 50%;
  right: 8px;
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 4px;
  border-right-width: 4px;
  border-bottom-width: 0;
  border-left-width: 4px;
  border-color: #686868 transparent transparent transparent;
  margin-top: -2px;
  vertical-align: middle;
}
#grpheader .rc-h-combobox-module .rc-h-combobox-panel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  margin: 0;
  padding: 1px;
  background: #ffffff;
  border: 1px solid #cccccc;
  z-index: 1;
  white-space: nowrap;
  -webkit-box-shadow: 1px 1px 2px 0 #cecece;
  box-shadow: 1px 1px 2px 0 #cecece;
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
  min-width: 100%;
  max-height: 280px;
  top: 100%;
  left: 0;
}
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li {
  position: relative;
  float: none;
  margin: 0;
  padding: 0;
}
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li > a, #grpheader .rc-h-combobox-module .rc-h-combobox-panel > li > span {
  display: block;
  position: relative;
  padding: 4px 14px 4px 10px;
  cursor: pointer;
}
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li:hover > a, #grpheader .rc-h-combobox-module .rc-h-combobox-panel > li:hover > span, #grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-hover > a, #grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-hover > span, #grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-active > a, #grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-active > span, #grpheader .rc-h-combobox-module .rc-h-combobox-panel > li a.rc-h-active, #grpheader .rc-h-combobox-module .rc-h-combobox-panel > li span.rc-h-active {
  background: #f6f6f6;
  color: #000000;
  text-decoration: none;
}
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-dropdown-child > a, #grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-dropdown-child > span {
  padding-right: 28px;
}
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-dropdown-child > a:after, #grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-dropdown-child > span:after {
  position: absolute;
  top: 50%;
  right: 8px;
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 4px;
  border-right-width: 0;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-color: transparent transparent transparent #686868;
  margin-top: -4px;
  vertical-align: middle;
}
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-dropdown-child > .rc-h-dropdown-panel {
  display: none;
  top: 0;
  left: 100%;
  margin-left: -5px;
}
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-dropdown-child:hover > a:after, #grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-dropdown-child:hover > span:after, #grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-dropdown-child.rc-h-hover > a:after, #grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-dropdown-child.rc-h-hover > span:after {
  border-left-color: #f2ab00;
}
#grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-dropdown-child:hover > .rc-h-dropdown-panel, #grpheader .rc-h-combobox-module .rc-h-combobox-panel > li.rc-h-dropdown-child.rc-h-hover > .rc-h-dropdown-panel {
  display: block;
}
* + html #grpheader .rc-h-combobox-module .rc-h-combobox-panel {
  margin-top: -4px;
}
#grpheader .rc-h-combobox-module:hover .rc-h-combobox-label:after {
  border-top-color: #f2ab00;
}
#grpheader .rc-h-combobox-module.rc-h-active .rc-h-combobox-panel {
  display: block;
}
/* Main */	
#grpheader input, #grpheader button, #grpheader select {
  font-family: inherit;
}
#grpheader a {
  text-decoration: none;
}
#grpheader a img {
  border: none;
}

#grpheader li {
  list-style: none;
}
#grpheader .rc-h-inner {
  margin: 0 auto;
}
#grpheader.rc-h-liquid .rc-h-noscript-bar, #grpheader.rc-h-liquid .rc-h-utility-bar, #grpheader.rc-h-liquid .rc-h-service-bar {
  padding-left: 10px;
  padding-right: 10px;
}
#grpheader.rc-h-liquid .rc-h-inner {
  width: auto;
}
#grpheader .rc-h-noscript-bar {
  padding: 3px 0 2px;
  border-top: 2px solid #d8b6b6;
  border-bottom: 2px solid #d8b6b6;
  background: #faeaea;
  color: #b03434;
}
#grpheader .rc-h-noscript-bar p {
  margin: 0;
  padding: 0;
  text-align: center;
}
#grpheader .rc-h-noscript-bar a:link, #grpheader .rc-h-noscript-bar a:visited, #grpheader .rc-h-noscript-bar a:hover, #grpheader .rc-h-noscript-bar a:active {
  color: #bf0000;
}
#grpheader .rc-h-utility-bar {
  position: relative;
  z-index: 1100;
  background: #f9f9f9;
  width: 100%;
}
#grpheader .rc-h-group-nav {
  float: right;
  margin: 0;
  padding: 0;
}
#grpheader .rc-h-group-nav li {
  position: relative;
  float: left;
  text-align: left;
}
#grpheader .rc-h-group-nav li a {
  display: block;
  padding: 3px 10px;
}
#grpheader .rc-h-group-nav li a:hover {
  text-decoration: none;
}
#grpheader .rc-h-group-nav li:hover, #grpheader .rc-h-group-nav li.rc-h-hover {
  background: #f0f0f0;
}
#grpheader .rc-h-group-dropdown > a:after {
  display: inline-block;
  content: "";
  margin-left: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 4px;
  border-right-width: 4px;
  border-bottom-width: 0;
  border-left-width: 4px;
  border-color: #686868 transparent transparent transparent;
  margin-top: -2px;
  vertical-align: middle;
}
#grpheader .rc-h-group-dropdown .rc-h-dropdown-panel {
  left: auto;
  right: 0;
}
#grpheader .rc-h-group-dropdown:hover > a:after, #grpheader .rc-h-group-dropdown.rc-h-hover > a:after {
  border-top-color: #333333;
}
#grpheader .rc-h-service-bar {
  background: #fff;
  padding-bottom: 10px;
}
#grpheader.simpleHeader01 .rc-h-service-bar {
}
#grpheader .rc-h-service-bar img {
  vertical-align: top;
  width: 100%;
  height: auto;
}
#grpheader .rc-h-site-id {
  float: left;
  margin-top: 15px;
}
#grpheader .rc-h-logo, #grpheader .rc-h-title, #grpheader .rc-h-icon {
  display: inline-block;
  vertical-align: middle;
}
#grpheader .rc-h-logo {
  width: 211px;
}
* + html #grpheader .rc-h-logo, * + html #grpheader .rc-h-title, * + html #grpheader .rc-h-icon {
  display: inline;
  zoom: 1;
}
#grpheader .rc-h-logo {
  margin-right: 11px;
}
#grpheader .rc-h-logo img {
  display: block;
}

#grpheader .rc-h-title a:hover {
  text-decoration: none;
}
#grpheader .rc-h-title a span {
  font-size: 20px;
  color: #bf0000;
  font-weight: bold;
}
#grpheader .rc-h-site-menu {
  float: right;
  margin-top: 19px;
}
#grpheader .rc-h-menu-btns {
  position: relative;
  text-align: right;
  overflow: hidden;
}

#grpheader .rc-h-action-nav {
  float: left;
  margin: 6px 0 0 0;
  padding: 0;
}
* + html #grpheader .rc-h-action-nav {
  display: inline;
  zoom: 1;
}
* + html #grpheader .rc-h-action-nav {
  margin-left: 4px;
}
#grpheader .rc-h-action-nav li {
  display: inline-block;
  padding-left: 25px;
}
* + html #grpheader .rc-h-action-nav li {
  display: inline;
  zoom: 1;
}
* + html #grpheader .rc-h-action-nav li {
  margin-left: 4px;
}
#grpheader .HeadTopPane {
  float: right;
}
#grpheader .rc-h-action-nav .rc-h-btn-icon {
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
}
* + html #grpheader .rc-h-action-nav .rc-h-btn-icon {
  display: inline;
  zoom: 1;
}
#grpheader .rc-h-action-nav .rc-h-btn-label {
  display: inline-block;
  vertical-align: middle;
}
* + html #grpheader .rc-h-action-nav .rc-h-btn-label {
  display: inline;
  zoom: 1;
}
#grpheader .rc-h-action-nav .rc-h-action-btn {
  font-size: 117%;
  display: inline-block;
  padding: 3px 11px 2px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
}
* + html #grpheader .rc-h-action-nav .rc-h-action-btn {
  display: inline;
  zoom: 1;
}
#grpheader .rc-h-action-nav .rc-h-action-btn:hover .rc-h-btn-label {
  text-decoration: underline;
}
#grpheader .rc-h-action-nav .rc-h-action-btn.rc-h-strong-action {
  font-weight: bold;
  color: #ffffff;
}
#grpheader .rc-h-action-nav .rc-h-btn-group {
  display: inline-block;
  margin: 0;
  padding: 3px 3px 3px 7px;
  border: 1px solid #cccccc;
}
* + html #grpheader .rc-h-action-nav .rc-h-btn-group {
  display: inline;
  zoom: 1;
}
#grpheader .rc-h-action-nav .rc-h-btn-group .rc-h-action-btn {
  padding: 0 4px;
  border: none;
}
#grpheader .rc-h-action-nav .rc-h-btn-group .rc-h-action-btn:link, #grpheader .rc-h-action-nav .rc-h-btn-group .rc-h-action-btn:visited, #grpheader .rc-h-action-nav .rc-h-btn-group .rc-h-action-btn:hover, #grpheader .rc-h-action-nav .rc-h-btn-group .rc-h-action-btn:active {
  color: white;
}
#grpheader .rc-h-promotion {
  float: left;
  margin-top: 4px;
  padding-left: 10px;
  vertical-align: bottom;
}
#grpheader .rc-h-genre-dropdown {
  float: left;
  margin-right: 15px;
  z-index: 2;
}
#grpheader .rc-h-genre-dropdown > a {
  display: block;
  padding: 0 13px;
  line-height: 44px;
  font-weight: bold;
}
#grpheader .rc-h-genre-dropdown > a:link, #grpheader .rc-h-genre-dropdown > a:visited, #grpheader .rc-h-genre-dropdown > a:hover, #grpheader .rc-h-genre-dropdown > a:active {
  color: white;
}
#grpheader .rc-h-genre-dropdown > a:after {
  display: inline-block;
  content: "";
  margin-left: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 4px;
  border-right-width: 4px;
  border-bottom-width: 0;
  border-left-width: 4px;
  border-color: white transparent transparent transparent;
  margin-top: -2px;
  vertical-align: middle;
}
#grpheader .rc-h-genre-dropdown:hover > a, #grpheader .rc-h-genre-dropdown.rc-h-hover > a {
  text-decoration: none;
}
#grpheader .rc-h-gnavi {
  background: #006699;
}
#grpheader .rc-h-gnavi .rc-h-inner {
  display: table;
  position: relative;
}
#grpheader .rc-h-gnavi .rc-h-inner li {
  display: table-cell;
  font-size: 130.7%;
  line-height: 1.2;
  text-align: center;
}
#grpheader .rc-h-gnavi .rc-h-inner li a {
  padding: 16px 20px 15px;
  color: #fff;
  display: block;
}
#grpheader .rc-h-gnavi .rc-h-inner li.current a {
  background: #004477;
}
#grpheader .rc-h-gnavi .rc-h-inner li a:hover {
  background: #3385ad;
  text-decoration: none;
}
#grpheader .rc-h-fixed-bar {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #c8c8c8;
  background: #fff;
  box-shadow: -1px 1px 3px rgba(0,0,0,.2);
}
#grpheader .rc-h-fixed-bar .rc-h-inner {
  position: relative;
}
#grpheader .rc-h-fixed-bar .rc-h-inner .rc-h-logo {
  line-height: 1;
  margin: 18px 39px 7px 0;
}
#grpheader .rc-h-fixed-bar .rc-h-inner .rc-h-logo img {
  width: 100%;
  height: auto;
}
#grpheader .rc-h-fixed-bar .rc-h-inner .rc-h-action-nav {
  float: right;
  margin: 12px 0 11px;
}
#grpheader .rc-h-fixed-bar .rc-h-inner .rc-h-gnavi {
  float: left;
  width: 601px;
  margin-left: 6px;
  background: #fff;
}
#grpheader .rc-h-fixed-bar .rc-h-inner .rc-h-gnavi .rc-h-inner {
  width: 100%;
}
#grpheader .rc-h-fixed-bar .rc-h-inner .rc-h-gnavi .rc-h-inner li {
  font-size: 108%;
}
#grpheader .rc-h-fixed-bar .rc-h-inner .rc-h-gnavi .rc-h-inner li:first-child {
  padding-left: 0;
}
#grpheader .rc-h-fixed-bar .rc-h-inner .rc-h-gnavi .rc-h-inner li a {
  padding: 19px 5px;
  color: #069;
}
#grpheader .rc-h-fixed-bar .rc-h-inner .rc-h-gnavi .rc-h-inner li a:hover, #grpheader .rc-h-fixed-bar .rc-h-inner .rc-h-gnavi .rc-h-inner li.current a {
  background: #eee;
}
#grpheader .rc-h-fixed-bar .rc-h-inner .rc-h-action-nav .rc-h-action-btn {
  font-size: 100%;
  padding: 3px 3px 2px;
}
.rc-h-clearfix:before, #grpheader .rc-h-utility-bar:before, #grpheader .rc-h-service-bar:before, #grpheader .rc-h-fixed-bar > .rc-h-inner:before, .rc-h-clearfix:after, #grpheader .rc-h-utility-bar:after, #grpheader .rc-h-service-bar:after, #grpheader .rc-h-fixed-bar > .rc-h-inner:after {
  content: " ";
  display: table;
}
.rc-h-clearfix:after, #grpheader .rc-h-utility-bar:after, #grpheader .rc-h-service-bar:after, #grpheader .rc-h-fixed-bar > .rc-h-inner:after {
  clear: both;
}
/* MegaDropdown Module */
#grpheader .gnaviDropBox {
  background: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 900;
  width: 100%;
  box-sizing: border-box;
  border: 1px #006699 solid;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  padding: 20px 50px 26px;
  margin-top: -1px;
  display: none;
}
#grpheader .gnaviDropBox:before {
  content: "";
  position: absolute;
  top: -19px;
  left: 17.3%;
  width: 0;
  height: 0;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 10px solid #fff;
  border-top: 10px solid transparent;
  z-index: 1;
}
#grpheader .gnaviDropBox:after {
  content: "";
  position: absolute;
  top: -21px;
  left: 17.3%;
  width: 0;
  height: 0;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 10px solid #006699;
  border-top: 10px solid transparent;
}
#grpheader .gnaviDropBox .gnaviDropBoxHdg {
  position: relative;
  color: #006598;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
#grpheader .gnaviDropBox .gnaviDropBoxHdg:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -2px;
  left: 180px;
  width: 24px;
  height: 27px;
  background: url(/shared/img/header/ico_list_01.png) no-repeat center center;
}
#grpheader .gnaviDropBox .dropPrdBox {
  width: 30.58%;
  float: left;
  font-size: 13px;
  margin-left: 35px;
}
#grpheader .gnaviDropBox .dropPrdBox:first-child {
  margin-left: 0;
}
#grpheader .gnaviDropBox .dropPrdBox .dropPrdBoxHdg {
  line-height: 1.2;
  margin: 0;
}
#grpheader .gnaviDropBox .dropPrdBox .dropPrdBoxHdg a {
  display: block;
  font-size: 21px;
  padding: 8px;
  font-weight: bold;
  border-radius: 30px;
  letter-spacing: 0.2em;
  position: relative;
}
#grpheader .gnaviDropBox .dropPrdBox.lifePrdBox .dropPrdBoxHdg a {
  background-color: #77aa11;
}
#grpheader .gnaviDropBox .dropPrdBox.medicalPrdBox .dropPrdBoxHdg a {
  background-color: #6756a4;
}
#grpheader .gnaviDropBox .dropPrdBox.totalPrdBox .dropPrdBoxHdg a {
  background-color: #bf0000;
}
#grpheader .gnaviDropBox .dropPrdBox .dropPrdBoxHdg a:hover {
  opacity: 0.6;
}
#grpheader .gnaviDropBox .dropPrdBox .dropPrdBoxHdg a:before {
  content: "";
  position: absolute;
  top: 31.57%;
  left: 20px;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid #fff;
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;
}
#grpheader .gnaviDropBox .dropPrdBox .dropPrdLst {
  padding-left: 20px;
}
#grpheader .gnaviDropBox .dropPrdBox .dropPrdLst li {
  display: block;
  text-align: left;
  margin-top: 10px;
  padding-left: 15px;
  position: relative;
}
#grpheader .gnaviDropBox .dropPrdBox .dropPrdLst li:first-child {
  margin-top: 15px;
}
#grpheader .gnaviDropBox .dropPrdBox .dropPrdLst li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;
}
#grpheader .gnaviDropBox .dropPrdBox.lifePrdBox .dropPrdLst li:before {
  border-left: 10px solid #77aa11;
}
#grpheader .gnaviDropBox .dropPrdBox.medicalPrdBox .dropPrdLst li:before {
  border-left: 10px solid #6756a4;
}
#grpheader .gnaviDropBox .dropPrdBox.totalPrdBox .dropPrdLst li:before {
  border-left: 10px solid #bf0000;
}
#grpheader .gnaviDropBox .dropPrdBox .dropPrdLst li a {
  display: inline-block;
  padding: 0;
}
#grpheader .gnaviDropBox .dropPrdBox .dropPrdLst p {
  font-size: 13px;
  line-height: 1.2;
  margin: 0;
}
#grpheader .gnaviDropBox .dropPrdBox .dropPrdLst .floatTxt {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 5px;
}
#grpheader .gnaviDropBox .dropPrdBox .dropPrdLst .dropPrdLnk {
  margin-bottom: 1px;
}
#grpheader .gnaviDropBox .dropPrdBox li .dropPrdLnk a {
  color: #1b457e;
  text-decoration: underline;
  position: relative;
  background: #fff;
}
#grpheader .gnaviDropBox .dropPrdBox .dropPrdLnk a:hover {
  background: #fff;
  text-decoration: none;
}
#grpheader .gnaviDropBox .empTxt {
  font-size: 18px;
  font-weight: bold;
}
#grpheader .gnaviDropBox p.gnaviDropBoxLnk {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
#grpheader .gnaviDropBox p.gnaviDropBoxLnk a.gnaviDropBoxLnkItem {
  position: relative;
  color: #1b457e;
  font-size: 14px;
  text-decoration: underline;
  background: #fff;
  padding: 0;
}
#grpheader .gnaviDropBox p.gnaviDropBoxLnk a.gnaviDropBoxLnkItem:hover {
  background: #fff;
  text-decoration: none;
}
#grpheader .gnaviDropBox p.gnaviDropBoxLnk a.gnaviDropBoxLnkItem:before {
  content: "";
  position: absolute;
  top: 3px;
  left: -12px;
  width: 0;
  height: 0;
  border-right: 7px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left: 7px solid #1b457e;
}
#grpheader .dropLink:hover .gnaviDropBox {
  display: block;
}
#grpheader .rc-h-fixed-bar .rc-h-inner .rc-h-gnavi .dropLink:hover .gnaviDropBox {
  display: none;
}
#grpheader .rc-h-gnavi .rc-h-inner li.dropLink:hover > a {
  background: #3385ad;
  text-decoration: none;
}
/* for JS */
#logIO.ioDisabled {
  display: none !important;
}
/* search */
.searchWrap {
  position: relative;
  width: 140px;
  height: 25px;
  background-color: #f0f0f0;
  border-radius: 13px;
  margin-left: 29px;
  padding-left: 10px;
}
.searchWrap input {
  position: absolute;
  top: 0;
  left: 1em;
  margin: 0;
  width: 95px;
  height: 25px;
  font-size: 12px;
  line-height: 20px;
  border: none;
  background: none;
  outline: none;
  padding: 2px 3px;
}
.searchWrap .btn {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 4px;
  right: 12px;
  background: url(../../images/common/header/glass.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}
.footWrapper {
  position: relative;
}
.pagetopWrap {
  padding: 4px 0 0;
  margin: -4px 0 0;
}
.pagetop {
  background: #e4e2e2;
  height: 28px;
  border-bottom: 1px solid #d5d2d2;
}
.pagetopLink {
  width: 1190px;
  margin: 0 0 0 -595px;
  text-indent: -9999px;
  position: fixed;
  bottom: 50px;
  left: 50%;
  padding: 0;
  z-index: 1000;
}
.pagetopLink a {
  display: block;
  float: right;
  background: url(../../images/top/pagetop.png ) 50% no-repeat #f5f5f5;
  width: 70px;
  height: 60px;
  padding: 10px;
  border-radius: 3px;
}

@media screen and (max-width: 1190px) {
.pagetopLink {
display: none !important;

  }
}

.leftArrow a{
	  display: block;
}

.leftArrow a:before {
  content: url(../../images/common/header/arrow.png);
  position: relative;
  left: -15px;
}

/* 追従
------------------------------------ */
#grpheader .rc-h-fixed-bar_Active {
  overflow: inherit!important;
}
.rc-h-fixed-bar_Active #mddNav.jwidth {
  float: left;
  width: 700px;
  margin-top: 18px;
}
.rc-h-fixed-bar_Active #mddNav .mddWrap {
  width: 1150px;
  left: -50%;
}
.rc-h-fixed-bar_Active #mddNav ul.nav-inner .nav-innerList {
  width: 140px;
}
.rc-h-fixed-bar_Active #mddNav  ul.nav-inner .nav-innerList1 {
  width: 90px;
}
.rc-h-fixed-bar_Active #mddNav ul.nav-inner .nav-innerList4 {
  width: 156px;
}
.rc-h-fixed-bar_Active #mddNav ul.nav-inner .nav-innerList5 {
  width: 173px;
}

.rc-h-fixed-bar_Active .rc-h-logo {
  float: left;
  margin-right: 40px;
  margin-top: 18px;
}

/*  sp menu
---------------------------- */
.zdo_drawer_menu * {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font: inherit;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: left;
  text-decoration: none;
  list-style: none;
  z-index: 99999;
}

.zdo_drawer_menu a {
  color: inherit;
  text-decoration: none;
}
.zdo_drawer_menu a:visited {
  color: inherit;
}
.zdo_drawer_menu .zdo_drawer_bg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: #fff;
  display: none;
  top: 0;
  left: 0;
  overflow: hidden;
}
.zdo_drawer_menu .zdo_drawer_button,
.zdo_drawer_button02 {
  display: block;
  background: none;
  border: none;
  padding: 0;
  width: 42px;
  letter-spacing: 0.1em;
  cursor: pointer;
  position: fixed;
  top: 13px;
  left: 15px;
  z-index: 99999;
  text-align: center;
  outline: none;
}
.zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_bar,
.zdo_drawer_button02.active .zdo_drawer_bar {
  width: 49px;
}
.zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_bar1,
.zdo_drawer_button02.active .zdo_drawer_bar1 {
  transform: rotate(30deg);
}
.zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_bar2,
.zdo_drawer_button02.active .zdo_drawer_bar2 {
  opacity: 0;
}
.zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_bar3,
.zdo_drawer_button02.active .zdo_drawer_bar3 {
  transform: rotate(-30deg);
}
.zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_menu_text,
.zdo_drawer_button02.active .zdo_drawer_menu_text {
  display: none;
}
.zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_close,
.zdo_drawer_button02.active .zdo_drawer_close {
  display: block;
}
.zdo_drawer_bar {
  display: block;
  height: 4px;
  margin: 5px 0;
  transition: all 0.2s;
  transform-origin: 5px 1.5px;
  width: 26px;
  background-color: #111;
  border-radius: 4px;
}
.zdo_drawer_menu .zdo_drawer_text {
  text-align: center;
  font-size: 10px;
}
.zdo_drawer_menu .zdo_drawer_close {
  letter-spacing: 0.08em;
  display: none;
}
.zdo_drawer_menu .zdo_drawer_menu_text {
  display: block;
}
.zdo_drawer_menu .zdo_drawer_nav_wrapper {
  width: 0px;
  height: 100%;
  transition: all 0.2s;
  transform: translate(312px);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}
.zdo_drawer_menu .zdo_drawer_nav_wrapper.open {
  transform: translate(0);
  overflow-y:scroll;
  width: 100%;
  background: #fff;
}
.zdo_drawer_menu.left .zdo_drawer_button,
.zdo_drawer_button02 {
  right: auto;
  left: 32px;
}
.zdo_drawer_menu.left .zdo_drawer_nav_wrapper {
  transform: translate(-312px);
  right: auto;
  left: 0;
}
.zdo_drawer_menu.left .zdo_drawer_nav_wrapper.open {
  transform: translate(0);
}
/*+++ Default Navigation CSS +++*/
.zdo_drawer_menu .zdo_drawer_nav {
  background: #fff;
}
.zdo_drawer_menu .zdo_drawer_nav li {
  font-size: 14px;
}
/*+++ Default Button Color +++*/
.zdo_drawer_menu .zdo_drawer_button,
.zdo_drawer_button02 {
  color: #686868;
}
.zdo_drawer_menu .zdo_drawer_button .zdo_drawer_bar,
.zdo_drawer_button02 .zdo_drawer_bar {
  background-color: #686868;
}
.zdo_drawer_navSerchArea {
  width: 100%;
  background-color: #b00f12;
  height: 60px;
  position: relative;
  margin-top: 60px;
}
.zdo_drawer_nav_wrapper input {
  width: 90%;
  height: 30px;
  margin: 15px 5%;
  padding-top: 9px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-radius: 21px;
  background-color: #f0f0f0;
  border: none;
}
.zdo_drawer_navSerchArea .btn {
  background: url(../../images/common/header/ico_search_01.png) no-repeat;
  width: 17px;
  height: 19px;
  display: block;
  position: absolute;
  right: 10%;
  top: 21px;
  border: none;
}
.zdo_drawer_navSerch {
  width: 88%;
}
.zdo_drawer_nav>li:first-child {
  background-color: #ce3637;
}

/*  pageTop
---------------------------- */
.pageTop {
  font-size: 13px;
  width: 950px;
  margin: 0 auto 18px;
  text-align: right;
}
.pageTop a {
  background: url(/common/img/ico_arrow_t01.png) left center no-repeat;
  padding-left: 16px;
*zoom: 1;
}
.pageTop a:hover {
  text-decoration: none;
}
/*  request_Area
---------------------------- */
.request_Area {
font-size: 13px;
margin: 30px auto 0;
width: 950px;
text-align: left;
}
.request_Area .request_btn_00 {
position: relative;
left: 102px;
bottom: 82px;
}
.request_Area .request_btn_00:hover {
opacity: 0.8;
}
.request_Area_pamphlet {
/* background-color:red;*/
margin-left: 710px;
position: relative;
top: 68px;
font-size: 90%;
font-weight: bold;
}
.request_Area .sec_section {
margin-bottom: 40px;
}
.request_Area .sec_section .second_selectBG01 {
background: url(/common02/img/selectBg01.gif) no-repeat;
width: 302px;
height: 130px;
margin-right: 22px;
float: left;
position: relative;
}
.request_Area .sec_section .second_selectBG01 h3 {
  position: absolute;
  top: 15px;
  left: 9px;
  font-size: 100%;
}
.request_Area .sec_section .second_selectBG01 p {
  position: absolute;
  width: 160px;
  top: 40px;
  left: 9px;
  font-size: 0.8em;
}
.request_Area .sec_section .second_selectBG02 {
  background: url(/common02/img/selectBg02.gif) no-repeat;
  width: 302px;
  height: 130px;
  margin-right: 22px;
  float: left;
  position: relative;
}
.request_Area .sec_section .second_selectBG02 h3 {
  position: absolute;
  top: 15px;
  left: 9px;
  font-size: 100%;
}
.request_Area .sec_section .second_selectBG02 p {
  position: absolute;
  width: 180px;
  top: 40px;
  left: 9px;
  font-size: 0.8em;
}
.request_Area .sec_section .second_selectBG03 {
  background: url(/common02/img/selectBg03.gif) no-repeat;
  width: 302px;
  height: 130px;
  float: left;
  position: relative;
}
.request_Area .sec_section .second_selectBG03 h3 {
  position: absolute;
  top: 15px;
  left: 9px;
  font-size: 100%;
}
.request_Area .sec_section .second_selectBG03 p {
  position: absolute;
  width: 180px;
  top: 40px;
  left: 9px;
  font-size: 0.8em;
}
/*  footer
---------------------------- */
#footerSiteMap01 {
  font-size: 87.5%;
  width: 100%;
  padding: 47px 0 45px;
  text-align: left;
  background: #555;
  line-height: 1.4;
}
#footerSiteMap01 a {
  color: #fff;
}
#footerSiteMap01 > .footerSiteMapIn {
  width: 950px;
  margin: 0 auto;
}
#footerSiteMap01 .lstCategory01 {
  float: left;
  width: 160px;
  margin-right: 37px;
}
#footerSiteMap01 .lstCategory01.last {
  margin-right: 0;
}
#footerSiteMap01 .lstCategory01 > li > a {
  font-weight: bold;
}
#footerSiteMap01 .lstCategory01 > li > a:hover {
  text-decoration: none;
  color: #ccc;
}
#footerSiteMap01 .lstCategory01 > li > a + ul {
  margin-top: 9px;
  padding-top: 10px;
  border-top: 1px solid #777;
}
#footerSiteMap01 .lstCategory01 > li > ul li {
  line-height: 1.7;
  margin-bottom: 2px;
}
#footerSiteMap01 .lstCategory01 > li > ul li.last {
  margin-bottom: 0;
}
#footerSiteMap01 .lstCategory01 > li > ul {
  font-size: 92.8%;
}
#footerSiteMap01 .lstCategory01 > li > ul a {
  display: inline-block;
  padding-left: 17px;
  background: url(/shared/img/ico_arrow_r_02.png) 0 .44em no-repeat;
*display: inline;
*zoom: 1;
}
#footerLinkArea {
  font-size: 13px;
  width: 100%;
  text-align: center;
  background: #fff;
  padding: 26px 0 24px;
}
#footerLinkAreaIn {
  position: relative;
  margin: 0 auto;
  max-width: 950px;
  text-align: left;
}
#footerLinkArea .ftColumn {
  width: 30%;
  margin-right: 5%;
  float: left;
}
#footerLinkArea .ftColumn.last {
  margin-right: 0;
}
#footerLinkArea .ftColumn ul {
  margin-bottom: 30px;
}
#footerLinkArea .ftColumn ul.last {
  margin-bottom: 0;
}
#footerLinkArea .ftColumn ul li a {
  color: #707070;
  font-size: 93%;
  line-height: 2.1;
}
#footerLinkArea .ftColumn ul li a:hover {
  color: #707070;
  text-decoration: none;
}
#footerRequest04, #footerRequest05 {
  font-size: 13px;
  width: 950px;
  text-align: left;
}
#footerRequest04 a, #footerRequest05 a {
  text-decoration: underline;
}
#footerRequest04 .left, #footerRequest05 .left {
  float: left;
}
#footerRequest04 .mr00, #footerRequest05 .mr00 {
  margin-right: 0 !important;
}
#footerRequest04 .ml10, #footerRequest05 .ml10 {
  margin-left: 10px;
}
#footerRequest04 .ml15, #footerRequest05 .ml15 {
  margin-left: 15px;
}
#footerRequest04 .taC, #footerRequest05 .taC {
  text-align: center;
}
#footerRequest04 a:hover, #footerRequest05 a:hover, #footerRequest04 a:focus, #footerRequest05 a:focus {
  text-decoration: none;
}
#footerRequest04 dt, #footerRequest05 dt {
  line-height: 1;
}
#footerRequest04 .ml20, #footerRequest05 .ml20 {
  margin-left: 20px !important;
}
#footerRequest04 .footHdg01, #footerRequest05 .footHdg01 {
  background: #004ea2;
  padding-left: 13px;
  padding-right: 13px;
  color: #fff;
  border-radius: 3px 3px 0 0;
  line-height: 1.3;
  font-weight: bold;
}
#footerRequest04 .footHdg01 > span, #footerRequest05 .footHdg01 > span {
  padding: 2px 0 2px 12px;
  border-left: 6px solid #afc9e4;
}
#footerRequest04 .footBox01, #footerRequest05 .footBox01 {
  border: 3px solid #e6e6e6;
  border-top: none;
  padding: 20px 15px 15px 20px;
}
#footerRequest04 .footBox02, #footerRequest05 .footBox02 {
  margin-top: 7px;
  margin-left: 15px;
  padding-left: 10px;
  background: url(/common02/img/ar04.png) 0 50% no-repeat;
  font-size: 92%;
}
#footerRequest04 .footBox02 .footBoxIn, #footerRequest05 .footBox02 .footBoxIn {
  background: #e4e4e4;
  padding: 8px 10px 8px 17px;
  border-radius: 3px;
  width: 413px;
}
#footerRequest04 .footBox02 .footBoxIn > dt + dd, #footerRequest05 .footBox02 .footBoxIn > dt + dd {
  border-left: 2px solid #fff;
  padding-left: 10px;
  margin-left: 12px;
}
#footerRequest04 .footLst01 > dt, #footerRequest04 .footLst01 > dd, #footerRequest05 .footLst01 > dt, #footerRequest05 .footLst01 > dd {
  float: left;
}
#footerRequest04 .footLst02, #footerRequest05 .footLst02 {
  margin-right: 5px;
}
#footerRequest04 .footLst02 + .footLst02, #footerRequest05 .footLst02 + .footLst02 {
  border-top: 1px solid #e6e6e6;
  padding-top: 10px;
  margin-top: 10px;
}
#footerRequest04 {
  margin: 0 auto 15px;
}
#footerRequest04 .footHdg01 {
  font-size: 138%;
  padding-top: 13px;
  padding-bottom: 13px;
}
#footerRequest04 .footTxt01 {
  float: left;
  margin-top: 8px;
  margin-left: 15px;
}
#footerRequest05 {
  margin: 0 auto 70px;
}
#footerRequest05 .footHdg01 {
  font-size: 115%;
  padding-top: 15px;
  padding-bottom: 15px;
}
#footerRequest05 .footCol01 {
  width: 500px;
  margin-right: 11px;
}
#footerRequest05 .footCol02 {
  width: 439px;
}
#footerRequest05 .footCol01, #footerRequest05 .footCol02 {
  float: left;
}
#footerRequest05 .footBox01 {
  padding-bottom: 0;
  min-height: 169px;
  height: auto !important;
  height: 169px;
}
#footerLinkAreaIn:after, #footerBnrAreaIn:after, .clearfix:after {
  content: "";
  clear: both;
  display: block;
}
#footerBnrArea {
  width: 100%;
  background: #f4f4f4;
  padding: 13px 0 23px;
}
#footerBnrAreaIn {
  position: relative;
  margin: 0 auto;
  width: 950px;
  text-align: left;
}
#footerBnrArea .lstBnr li {
  float: left;
  margin: 10px 0 0 10px;
}
#footerBnrArea .lstBnr li:first-child, #footerBnrArea .lstBnr li.noMgnL {
  margin-left: 0;
}
.rakutenLinks {
  overflow: hidden;
  background-color: #555555;
  padding-top: 42px;
  padding-bottom: 40px;
}
.rakutenLinks p, .rakutenLinks p a {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 18px;
  font-weight: bold;
}
.rakutenUnderLinks{
overflow: hidden;
margin-bottom: 36px;
}

.rakutenUnderLinks li{
float: left;
width: 15%;
}

.rakutenUnderLinks li a{
color: #ffffff;
}

.rakutenUnderLinks li:first-child a{
font-weight: bold;
}

.rakutenBottomLinks ul{
margin-bottom: 30px;
}

.aboutRakuten {
  margin-top: 56px;
}
.rakutenLinks li, .rakutenLinks2 li {
  margin-bottom: 5px;
  font-size: 14px;
}
.rakutenLinks li a {
  color: #ffffff;
}
.rakutenLinks .Links1 {
  float: left;
  width: 18%;
}
.rakutenLinks .Links2 {
  float: left;
  width: 18%;
}
.rakutenLinks .Links3 {
  float: left;
  width: 18%;
}
.rakutenLinks .Links4 {
  float: left;
  width: 26%;
}
.rakutenLinks .Links5 {
  float: left;
  width: 20%;
}
.rakutenLinks2 {
  overflow: hidden;
  padding-top: 42px;
  padding-bottom: 40px;
}
.rakutenLinks2 a {
  color: #4c4c4c;
  font-size: 14px;
}
.rakutenLinks2 .Links1 {
  float: left;
  width: 190px;
}
.rakutenLinks2 .Links2 {
  float: left;
  width: 260px;
}
.rakutenLinks2 .Links3 {
  float: left;
  width: 300px;
}
.rakutenLinks2 .Links4 {
  float: left;
  width: 200px;
}
/*  PR Area
---------------------------- */
.topBankArea {
  width: 100%;
}
.bannerArea {
  border-top: 1px solid #808080;
  margin: 10px auto 0 auto;
  padding: 15px 0 30px;
  position: relative;
  text-align: center;
  max-width: 950px;
  overflow: hidden;
}
.bannerArea .pr {
  background: #808080 none repeat scroll 0 0;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  left: 0;
  line-height: 1;
  padding: 2px 0 4px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 28px;
}
.bannerArea .grdText {
  color: #808080;
  font-size: .81em;
  letter-spacing: .05em;
}
.bannerArea a:hover img {
  opacity: 0.6;
  filter: alpha(opacity=60);
  -ms-filter: "alpha(opacity=60)";
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
}
.carouselSec {
  background: #ffffff;
}
.carouselContainer {
  display: none;
  padding-top: 55px;
}
.carouselArea .slick-track {
  margin: 20px 0;
}
.carouselArea .slick-track .slick-slide {
  float: left;
  margin-right: 25px;
}
.carouselArea .slick-track .slick-slide a {
  display: block;
}
.carouselArea .slick-track .slick-slide.mgr0 {
  margin-right: 0;
}
.carouselArea button.slick-prev, .carouselArea button.slick-next {
  border: none;
  text-indent: -9999px;
}
.carouselArea button.slick-prev:active, .carouselArea button.slick-next:active {
  position: absolute;
}
.prWrapper {
  max-width: 790px;
  margin: 0 auto;
  padding-left: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#prCarouseContainer {
  max-width: 790px;
}
#prCarouseContainer .bnr_pr_01 dt {  /* 楽天銀行 */
  background: url(../../images/common/group/logo_pr_bank_pc.png) top center no-repeat;
  height: 30px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
#prCarouseContainer .bnr_pr_02 dt {  /* 楽天カード */
  background: url(../../images/common/group/logo_pr_card_pc.png) top center no-repeat;
  height: 30px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
#prCarouseContainer .bnr_pr_03 dt {  /* 楽天証券 */
  background: url(../../images/common/group/logo_pr_brokerage_pc.png) top center no-repeat;
  height: 30px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
#prCarouseContainer .bnr_pr_04 dt {  /* 楽天スーパーナイター */
  background: url(/shared/img/group/logo_pr_supernighter_pc.png) top center no-repeat;
  height: 30px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
#prCarouseContainer .bnr_pr_05 dt {  /* 楽天kobo */
  background: url(/shared/img/group/logo_pr_kobo_pc.png) top center no-repeat;
  height: 30px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
#prCarouseContainer .bnr_pr_06 dt {  /* 楽天TV */
  background: url(../../images/common/group/logo_pr_tv_pc.png) top center no-repeat;
  height: 30px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
#prCarouseContainer .bnr_pr_07 dt {  /* 楽天ふるさと納税 */
  background: url(../../images/common/group/logo_pr_life_pc.png) top center no-repeat;
  height: 30px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
#prCarouseContainer .bnr_pr_08 dt {  /* 楽天エナジー */
  background: url(../../images/common/group/logo_pr_energy_pc.png) top center no-repeat;
  height: 30px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
#prCarouseContainer .bnr_pr_09 dt {  /* (R) Rakuten */
  background: url(/shared/img/group/logo_r_rakuten_pc.png) top center no-repeat;
  height: 30px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
#prCarouseContainer .bnr_pr_10 dt {  /* 楽天損保 */
  background: url(../../images/common/group/logo_pr_generalinsurance_pc.png) top center no-repeat;
  height: 30px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
#prCarouseContainer .bnr_pr_11 dt {  /* 楽天少額短期保険 */
  background: url(../../images/common/group/logo_pr_pet_pc.png) top center no-repeat;
  height: 30px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
#prCarouseContainer .bnr_pr_12 dt {  /* 楽天GORA */
  background: url(../../images/common/group/logo_pr_gora_pc.png) top center no-repeat;
  height: 30px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
#prCarouseContainer .bnr_pr_13 dt {  /* 楽天買取 */
  background: url(../../images/common/group/logo_pr_buyback_pc.jpg) top center no-repeat;
  height: 30px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
#prCarouseContainer .bnr_pr_14 dt {  /* 楽天 */
  background: url(/shared/img/group/logo_r_rakuten_pc.png) top center no-repeat;
  height: 30px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
#prCarouseContainer dl dt {
  margin-bottom: 8px;
}
#prCarouseContainer .slick-slide img {
  margin: 0;
}
#prCarouseContainer a:focus {
  outline: none;
}

#footerGrpRakutenLinkArea {
  clear: both;
}
.att {
  color: #CC0000 !important;
}
.fGreen {
  color: #336600 !important;
}
.fOrenge {
  color: #ee6400 !important;
}
.fBlue {
  color: #3366cc !important;
}
.fBlue02 {
  color: #295688 !important;
}
.fGray {
  color: #999 !important;
}
.fRed {
  color: #990033 !important;
}
.fRed02 {
  color: #bf0000 !important;
}
.fBlack {
  color: #000000 !important;
}
.fWhite {
  color: #ffffff !important;
}
.f10 {
  font-size: 10px !important;
}
.f11 {
  font-size: 11px !important;
}
.f12 {
  font-size: 12px !important;
}
.f14 {
  font-size: 14px !important;
}
.f15 {
  font-size: 15px !important;
}
.f16 {
  font-size: 16px !important;
}
.f18 {
  font-size: 18px !important;
}
.f26 {
  font-size: 26px !important;
}
a img {
  border: none;
  outline: none;
}
a img.act {
  filter: alpha(opacity=70);
  -moz-opacity: 0.70;
  -khtml-opacity: 0.70;
  opacity: 0.70;
}
a:hover img.alpha {
  filter: alpha(opacity=70);
  -moz-opacity: 0.70;
  -khtml-opacity: 0.70;
  opacity: 0.70;
}
.pc_hide {
  display: none;
}
.sp_hide {
  display: block;
}
.pc_hide2 {
  display: none;
}
.sp_hide2 {
  display: inline-block;
}

/* megamenu
------------------------------------ */

#mddNav {
  width: 100%;
  height: 43px;
}
#mddNav ul.nav-inner {
  margin: 0 auto;
  max-width: 950px;
  text-align: left;
}
#mddNav .nav-outer {
  max-width: 1150px;
  margin: 0 auto;
  position: relative;
  z-index: 9;
}
#mddNav ul.nav-inner .nav-innerList {
  width: 20%;
  height: 43px;
  float: left;
}
#mddNav ul.nav-inner .nav-innerList:hover {
  border-bottom: 4px #e61717 solid;
}
#mddNav .nav-innerList:last-child > #grpheader .rc-h-fixed-bara {
  border-right: #999999 1px dotted;
}
#mddNav ul.nav-inner > li > a {
  display: block;
  font-weight: bold;
  line-height: 22px;
  text-align: center;
  transition: all 0.2s linear;
  text-decoration: none;
  border-left: #999999 1px dotted;
  color: #333;
  font-size: 16px;
}
#mddNav .mddWrap {
  top: 43px;
  left: 0;
  width: 100%;
  max-width: 1150px;
  height: auto;
  margin: 0 auto 20px;
  text-align: center;
  background: #fff;
  position: absolute;
  z-index: 999;
  display: none;
  overflow: hidden;
  border-top: 1px #e6e6e6 solid;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  padding-bottom: 30px;
}
#mddNav .mddWrap .mddInner {
  width: 950px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
  background: #fff;
}
#mddNav .mddWrap .mddInner .mddInnerList {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  margin-right: 3%;
  width: 31%;
  min-height: 300px;
  float: left;
  border-right: #aaa 1px solid;
}
#mddNav .mddWrap .mddInner .mddInnerList ul {
  padding-left: 0;
}

#mddNav .mddWrap .mddInner .mddInnerList ul .mddInnerListText{
  margin-top: 3px;
}

#mddNav ul.nav-inner > li:last-child > a {
    border-right: #999999 1px dotted;
}

#mddNav .mddWrap .mddInner .mddInnerList p {
  font-size: 15px;
  font-weight: bold;
}
#mddNav .mddWrap .mddInner > div p:nth-child(3) {
  margin-top: 30px;
}
#mddNav .mddWrap .mddInner > div:last-child {
  margin-right: 0;
  border-right: none;
}
.mddInnerListText {
  font-size: 14px;
}
#mddNav .mddWrap .mddInner .mddh3 {
  display: block;
}
#mddNav .mddWrap .mddInner .mddh3 h3 {
  display: inline;
  font-weight: bold;
  border-bottom: 1px solid #adadad;
}
.navArrow {
  background-image: url(../../../images/common/header/arrow.png);
  background-repeat: no-repeat;
  background-position: left 8px;
  padding-left: 18px;
}
#contents {
  margin: 0 auto;
  padding: 40px 0;
  width: 800px;
  text-align: left;
}
#contents p {
  padding-bottom: 2em;
  font-size: 0.9em;
  line-height: 1.8em;
}
/* ------------------------------
 CLEARFIX ELEMENTS
------------------------------ */
#mddNav > ul:before, #mddNav > ul:after {
  content: " ";
  display: table;
}
#mddNav > ul:after {
  clear: both;
}
#mddNav > ul {
*zoom: 1;
}

/* 追従
------------------------------------ */
.rc-h-fixed-bar_Active #mddNav .mddWrap {
  width: 135%;
  left: 33%;
}

.rc-h-fixed-bar_Active #mddNav .mddWrap {
  width: 1150px;
  top: 60px;
  left: -90px;
}
.rc-h-fixed-bar_Active #mddNav .nav-outer {
  position: static;
}




#footerLinkAreaIn ul li{
margin-bottom: 0;
}

#footer02 .grdText{
font-size:1.3rem;
}
