/**
 * Reset CSS
 * @project  Rakuten Sonpo SmartPhone v.0.1
 * @date     2018.06.14
 */
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
   display: block;
 }
 body {
   line-height: 1;
 }
 ol, ul {
   list-style: none;
 }
 blockquote, q {
   quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
   content: '';
   content: none;
 }
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }
 
 body {
   font-family: 'Hiragino Kaku Gothic ProN', Meiryo, MS-PGothic, sans-serif;
 }
 
 *:focus {
  outline: none;
}

 /*cleaffix*/
 .r-clearfix:before,.r-clearfix:after {
   content: " ";
   display: table;
 }
 .r-clearfix:after {
   clear: both;
 }
 .r-clearfix {
   *zoom: 1;
 }
 
 /* コンテンツ幅 */
 .r-contents {
   width: 100%;
   margin: 59px auto;
 }
 
 /* ページナビ */
 .r-pageNav {
  width: 100%;
  margin: 30px 0 35px;
}
.r-pageNav ul {
  width: 100%;
  height: 50px;
  margin: 0 auto 25px;
}
.r-pageNav .repletion {
  text-align: center;
  color: #666666;
  font-size: 0.75em;
  line-height: 1.2;
  margin: 2px 0 8px 0;
}
.r-back {
  width: 46%;
  height: 50px;
  margin: 0 1% 0 3%;
  text-align: center;
  float: left;
}
.r-next {
  width: 46%;
  height: 50px;
  margin: 0 3% 0 1%;
  text-align: center;
  float: left;
}
.r-back_button {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  background: url(../images/r-back.png) #c4c4c3 no-repeat;
  background-position: left 10px center;
  background-size: 22px 24px;
  font-size: 1.1em;
  line-height: 50px;
  color: #ffffff;
  border: none;
}
.r-back_button.long_text {
  background-position: left 6px center;
}
.r-back_button.long_text > div {
  width: 100%;
  padding: 0 0 0 20px;
  word-break: break-word;
  font-size: 0.9em;
  line-height: 1;
}
.r-next_button {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  background: url(../images/r-next.png) #ff9600 no-repeat;
  background-position: right 10px center;
  background-size: 22px 24px;
  font-size: 1.1em;
  line-height: 50px;
  color: #ffffff;
  border: none;
}
.r-next_button.r-button {
  padding-right: 36px;
}
.r-next_button.is-disabled {
  background-color: #c4c4c3;
}
.r-save_button {
  display: block;
  width: 140px;
  height: 40px;
  border-radius: 40px;
  background: url(../images/r-save.png) #a1cd73 no-repeat;
  background-position: left 20px center;
  background-size: 20px 16px;
  font-size: 1.1em;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
  border: none;
  margin: -40px auto 0;
  padding: 0 0 0 25px;
  box-sizing: border-box;
}
.r-save p {
  text-align: center;
  color: #666666;
  font-size: 0.75em !important;
  line-height: 1.5 !important;
  margin: 8px 0 0;
}
.r-redo {
  width: 26%;
  height: 40px;
  background: url(../images/r-redo.png) #c4c4c3 no-repeat;
  background-position: left 8px top 8px;
  background-size: 15px 21px;
  border-radius: 0 30px 30px 0;
  box-sizing: border-box;
  padding: 0 0 0 7%;
}
.r-redo_button {
  width: 100%;
  height: 40px;
  font-size: 0.7em;
  color: #ffffff;
  text-align: left;
  border-radius: 0 30px 30px 0;
  border: none;
  appearance: none;
  -webkit-appearance: none;
}
@media screen and (min-width:350px) and ( max-width:360px) {
  .r-redo_button {
    padding: 1px 10px 0 10px;
  }
}
@media screen and (max-width:349px) {
  .r-redo_button {
    padding: 1px 5px 0 5px;
  }
  .r-redo {
    background-position: left 5px top 8px;
  }
}
 /* Q共通 */
 .r-block {
  width: 100%;
  margin: 0;
  padding: 25px 10px 25px;
  box-sizing: border-box;
  position: relative;
}

.r-question {
  font-size: 1em;
  line-height: 1.4;
  margin: 0 0 15px;
  font-weight: bold;
  text-indent: -2em;
  padding-left: 2em;
}

.r-question:before {
 content: ' ';
 display: inline-block;
 background: url(../images/r-q.png) no-repeat center center;
 background-size: contain;
 width: 24px;
 height: 16px;
 vertical-align: middle;
 position: relative;
 top: -2px;
 margin-right: 6px;
}
.r-question span {
 color: #cf1623;
}
.r-intention {
 width: 70px;
 color: #ffffff;
 font-size: 0.8em !important;
 line-height: 1 !important;
 text-align: center;
 background: #008be3;
 margin: 0 0 8px 30px;
 padding: 5px 0 5px;
 border-radius: 7px;
 display: inline-block;
}
.r-announce {
 width: 70px;
 color: #ffffff;
 font-size: 0.8em !important;
 line-height: 1 !important;
 text-align: center;
 background: #ed950b;
 margin: 0 0 8px 30px;
 padding: 5px 0 5px;
 border-radius: 7px;
 display: inline-block;
}
.r-popup {
  line-height: 1.4 !important;
}

 /* セレクトボックス基本設定 */
 select {
   appearance: none;
   -moz-appearance: none;
   -webkit-appearance: none;
   background-color: #ffffff !important;
   background: url(../images/r-selectBg.png) no-repeat right center;
   background-position : right 10px center;
   background-size: 12px;
   box-sizing: border-box;
   margin: 0 2px;
   padding: 10px 20px 10px 10px;
   cursor: pointer;
   color: #333333;
   font-size: 1em;
   outline: 0;
   box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.2) inset;
   border-radius: 10px;
   border: 1px #b1b1b1 solid;
 }
 select::-ms-expand {
   display: none;
 }
 input[type="button"]::-webkit-search-decoration {
   display: none;
 }
 .r-list-box {
   display: inline-block;
 }
 
 /* チェックボックス基本設定 */
 .r-confirmedBtn {
   width: 100%;
   height: 70px;
   color: #000000;
   font-size: 1.1em;
   line-height: 1;
   font-weight: bold;
 }
 
 .r-block-body {
   width: 100%;
   margin: 25px 0 0;
   padding: 0 10px 25px;
   box-sizing: border-box;
   position: relative;
 }
 .r-block-body-border-top {
   border-top: 1px #cccccc solid;
 }
 .r-block-body-border-right {
   border-right: 1px #cccccc solid;
 }
 .r-block-body-border-bottom {
   border-bottom: 1px #cccccc solid;
 }
 .r-block-body-border-left {
   border-left: 1px #cccccc solid;
 }
 
 /* r-check-box */
 .r-check-box--original {
   display: none;
   opacity: 0;
   outline: 0;
 }
 
.r-yes,.r-no {
  display: block;
  width: 49%;
  height: 80px;
  background: url(../images/r-radioBg_off.png) no-repeat;
  background-position: left 10px center;
  background-size: 22px;
  box-sizing: border-box;
  border: 2px solid #cccccc;
  border-radius: 10px;
}
.r-yes {
  float: left;
}
.r-no {
  float: right;
}
.r-yes.is-checked,.r-no.is-checked {
  background: url(../images/r-radioBg_on.png) no-repeat;
  background-position: left 9px center;
  background-size: 22px;
  border: 3px solid #cf1623;
}
.r-yes div {
  width: 100%;
  height: 100%;
  text-align: center;
  background: url(../images/r-yesBg_off.png) no-repeat;
  background-position: center center;
  background-size: 60px;
}
.r-no div {
  width: 100%;
  height: 100%;
  text-align: center;
  background: url(../images/r-noBg_off.png) no-repeat;
  background-position: center center;
  background-size: 60px;
}
.r-yes.is-checked div {
  background: url(../images/r-yesBg_on.png) no-repeat;
  background-position: center center;
  background-size: 60px;
}
.r-no.is-checked div {
  background: url(../images/r-noBg_on.png) no-repeat;
  background-position: center center;
  background-size: 60px;
}
.r-yes div p,.r-no div p {
  font-size: 1em;
  line-height: 74px;
  font-weight: bold;
}
.r-yes.is-checked div p,.r-no.is-checked div p {
  font-size: 1em;
  line-height: 72px;
  font-weight: bold;
}

.vdp-datepicker div input {
  display: none;
}

.invalid {
  font-size: 0.9em;
  font-weight: bold;
  color: red;
  line-height: 1;
}


/* B-1 */
.r-b1_contents h3 {
  font-size: 1.05em;
  line-height: 1.6;
  font-weight: bold;
  width: 100%;
  margin: 0 0 30px;
}
.r-b1Img01 {
  position: relative;
  top: 0;
  left: 0;
  width: 610px;
  height: 480px;
  margin-bottom: 20px;
  color: #000;
}
.r-b1_contents .r-b1Img01 ul {
  list-style: disc;
}
.r-b1_contents .r-b1Img01 li {
  font-size: 15px;
  text-indent: 0;
  padding-left: 0;
}
.r-b1Img01 em {
  font-size: 11px;
  color: #f00;
}
.r-b1Img01 strong {
  font-size: 40px;
}
.r-b1Img01 .background {
  position: absolute;
  top: 0;
  left: 0;
}
.r-b1Img01 .annotation2 {
  position: absolute;
  top: 270px;
  left: 100px;
  font-size: 12.5px;
  line-height: 1.3;
}
.r-b1Img01 .annotation3 {
  position: absolute;
  top: 275px;
  left: 265px;
  font-size: 12.5px;
  line-height: 1.3;
}
.r-b1Img01 .m-type-structure {
  position: absolute;
  top: 18px;
  left: 48px;
  line-height: 1.8;
}
.r-b1Img01 .m-type-name {
  position: absolute;
  top: 420px;
  left: 60px;
  font-size: 20px;
  font-weight: bold;
}
.r-b1Img01 .t-type-structure {
  position: absolute;
  top: 18px;
  left: 248px;
  line-height: 1.8;
}
.r-b1Img01 .t-type-name {
  position: absolute;
  top: 420px;
  left: 260px;
  font-size: 20px;
  font-weight: bold;
}
.r-b1Img01 .h-type-structure {
  position: absolute;
  top: 18px;
  left: 453px;
  line-height: 1.8;
}
.r-b1Img01 .h-type-name {
  position: absolute;
  top: 420px;
  left: 464px;
  font-size: 20px;
  font-weight: bold;
}
.r-b1Img02 {
  width: 100%;
  max-width: 610px;
  margin-bottom: 30px;
  line-height: 0;
}
.r-b1_contents ul {
  margin: 0 auto;
}
.r-b1_contents ul li {
  font-size: 0.75em;
  line-height: 1.6;
  text-indent: -2em;
  padding-left: 2em;
}
.r-b1_contents ul li span {
  color: #db0202;
}


/* B-2 */
.r-b2_contents .r-popupcommon_text {
  font-weight: bold;
}
.r-b2_contents .r-popupcommon_textL {
  margin: 20px 0 0;
  font-weight: bold;
}
.r-b2_contents .r-popupcommon_list {
  margin: 15px 0 0;
}


/* B-3 */
.r-b3_contents .r-popupcommon_textL {
  margin: 0 0 15px;
  font-weight: bold;
}
.r-b3_contents table {
  width: 100%;
  border-spacing: 0;
  border-top: 1px #cccccc solid;
  border-left: 1px #cccccc solid;
  font-size: 0.95em;
  line-height: 1.4;
  margin: 20px 0 10px;

}
.r-b3_contents table th {
  border-bottom: 1px #cccccc solid;
  border-right: 1px #cccccc solid;
  background: #efefef;
  font-weight: normal;
  text-align: left;
  padding: 10px 10px;
}
.r-b3_contents table td {
  border-bottom: 1px #cccccc solid;
  border-right: 1px #cccccc solid;
  padding: 10px 10px;
}


/* B-4 */
.r-b4_contents .r-popupcommon_textL {
  font-weight: bold;
}
.r-b4_contents img {
  width: 100%;
  height: auto;
}
.r-b4_block {
  width: 100%;
  max-width: 370px;
  margin: 0 auto;
}
.r-b4_block li {
  width: 100%;
  margin: 50px auto 0;
  text-align: center;
}
.r-b4_block li span {
  font-size: 0.85em;
  line-height: 1.5;
  font-weight: bold;
}
.r-doccheck_img {
  width: 200px;
  margin: 0 auto;
  line-height: 0;
}
.r-doccheck_enlarge {
  width: 72px;
  height: 72px;
  border: 0;
  background: none;
  margin: -50px 0 0 110px;
}
.r-doccheck_enlarge:hover {
  opacity: 0.9;
}
.r-b4_contact {
  width: 100%;
  background: #feefd5;
  border-radius: 20px;
  margin: 20px auto 0;
  padding: 30px 0 35px;
}
.r-b4_contactBtm {
  margin-top: 60px !important;
}
.r-b4_contact h3 {
  text-align: center;
  padding: 0 0 5px;
  font-size: 1.1em;
  font-weight: bold;
}
.r-b4_contact h3 img {
  vertical-align: text-bottom;
  height: auto;
  margin-right: 5px;
  width: 260px;
}
.r-b4_contactTxt01 {
  text-align: center;
  font-size: 0.95em;
  line-height: 1.6;
  color: #3a3a3a;
  margin: 12px 0 12px;
}
.r-b4_contactTel {
  text-align: center;
  color: #00a73c;
  font-weight: bold;
  font-size: 1.7em;
  line-height: 1;
}
.r-b4_contactTel:before {
  display: inline-block;
  content: '';
  width: 43px;
  height: 24px;
  background: url(../images/r-contactTel.png) no-repeat center center;
  background-size: contain;
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.r-b4_contactTxt02 {
  text-align: center;
  color: #666666;
  font-size: 0.9em;
  line-height: 1;
  margin: 17px 0 0;
}


/* B-5 */
.r-b5Img01 {
  max-width: 770px;
  margin: 20px auto 50px;
  line-height: 0;
}
.r-b5Img01 img {
  width: 100%;
  height: auto;
}
.r-b5Img02 {
  max-width: 770px;
  margin: 30px auto 0;
  line-height: 0;
}
.r-b5Img02 img {
  width: 100%;
  height: auto;
}
.r-popupb5_linkbox {
  width: 49%;
  height: 360px;
  box-sizing: border-box;
  padding: 10px 10px 40px;
  border: 1px #015ba2 dashed;
  border-radius: 20px;
}
.r-popupb5_linkbox h3 {
  font-size: 0.9em;
  line-height: 1.2;
  margin: 0 0 20px;
  text-indent: -40px;
  padding-left: 40px;
  font-weight: bold;
}
.r-popupb5_linkbox ul {
  margin: 0 0 15px;
  padding: 0 0 15px;
  border-bottom: 1px #cccccc solid;
}
.r-popupb5_linkbox ul li {
  line-height: 1.4;
  margin: 0 0 12px;
}
.r-popupb5_linkbox ul li a {
  font-size: 0.9em;
  color: #3869ac;
  text-decoration: underline;
}
.r-popupb5_linkbox_etc {
  font-size: 0.9em;
  text-align: right;
}
.r-popupb5_linkbox ul li a:hover {
  text-decoration: none;
}
.r-popupb5_linkbox_popup {
  line-height: 1.4;
}
/* .r-popupb5_linkbox_popup:before {
  content: '';
  background: url(../images/r-popup.png) no-repeat center center;
  width: 20px;
  height: 20px;
  background-size: contain;
  display: inline-block;
  position: relative;
  top: 5px;
  left: 0;
  margin: 0 4px 0 0;
} */
.r-popupb5_linkbox_popup a {
  font-size: 0.9em;
  color: #3869ac;
  text-decoration: underline;
}
.r-popupb5_linkbox_popup a:hover {
  text-decoration: none;
}
.r-popupb5_linkbox_popup {
  text-align: center;
}
.r-popupb5_linkboxL {
  margin: 20px 0 0;
  float: left;
}
.r-popupb5_linkboxR {
  margin: 20px 0 0;
  float: right;
}


/* B-6 */
.r-b6_contents .r-popupcommon_textL {
  font-weight: bold;
}


/* B-7 */
.r-b7_contents .r-popupcommon_text {
  margin: 0 0 20px;
}
.r-b7_contents table {
  width: 100%;
  margin: 0 auto;
  border-spacing: 0;
  border-top: 1px #cccccc solid;
  border-left: 1px #cccccc solid;
  font-size: 0.95em;
  line-height: 1.4;
  box-sizing: border-box;
}
.r-b7_contents table td {
  width: 50%;
  border-bottom: 1px #cccccc solid;
  border-right: 1px #cccccc solid;
  padding: 10px 10px;
  box-sizing: border-box;
}
.r-b7_contents table tr td:first-child {
  background: #efefef;
}


/* C-1 */
.r-c1_contents h3 {
  text-align: center;
  font-size: 1.4em;
  font-weight: normal;
  margin: 0 0 30px;
}
.r-c1_contents h3 span {
  margin: 0 0 0 10px;
}
.r-c1_contents h3 img {
  width: 53px;
  height: auto;
  position: relative;
  top: 5px;
}
.r-c1_contents table {
  width: 100%;
  margin: 0 auto;
  border-spacing: 0;
  border-top: 1px #cccccc solid;
  border-left: 1px #cccccc solid;
  font-size: 0.95em;
  line-height: 1.4;
  box-sizing: border-box;
}
.r-c1_contents table th {
  width: 33%;
  border-bottom: 1px #cccccc solid;
  border-right: 1px #cccccc solid;
  padding: 10px 10px 10px;
  text-align: center;
  box-sizing: border-box;
  background: #efefef;
  font-weight: normal;
  vertical-align: middle;
}
.r-c1_contents table td {
  width: 33%;
  border-bottom: 1px #cccccc solid;
  border-right: 1px #cccccc solid;
  padding: 10px 10px 10px;
  text-align: center;
  box-sizing: border-box;
  vertical-align: middle;
}
.r-c1_contents .r-popupcommon_text {
  margin: 20px 0 0;
}


/* C-2 */
.r-c2_contents h3 {
  text-align: center;
  font-size: 1.4em;
  font-weight: normal;
  margin: 0 0 30px;
}
.r-c2_contents h3 span {
  margin: 0 0 0 10px;
}
.r-c2_contents h3 img {
  width: 53px;
  height: auto;
  position: relative;
  top: 5px;
}
.r-c2_contents table {
  width: 100%;
  margin: 0 auto;
  border-spacing: 0;
  border-top: 1px #cccccc solid;
  border-left: 1px #cccccc solid;
  font-size: 0.95em;
  line-height: 1.4;
  box-sizing: border-box;
}
.r-c2_contents table th {
  width: 33%;
  border-bottom: 1px #cccccc solid;
  border-right: 1px #cccccc solid;
  padding: 10px 10px 10px;
  text-align: center;
  box-sizing: border-box;
  background: #efefef;
  font-weight: normal;
  vertical-align: middle;
}
.r-c2_contents table td {
  width: 33%;
  border-bottom: 1px #cccccc solid;
  border-right: 1px #cccccc solid;
  padding: 10px 10px 10px;
  text-align: center;
  box-sizing: border-box;
  vertical-align: middle;
}
.r-c2_contents .r-popupcommon_text {
  margin: 20px 0 0;
}


/* C-3 */
.r-c3_contents h2 {
  margin-bottom: 30px;
}
.r-c3_contents h3 {
  font-size: 1.4em;
  line-height: 1.4;
  text-align: left;
  font-weight: normal;
  margin: 0 0 30px;
  overflow: hidden;
}
.r-c3_contents h3 span {
  width: 100%;
  margin-right: -57px;
  padding-right: 57px;
  box-sizing: border-box;
  float: left;
}
.r-c3_contents h3 img {
  width: 47px;
  height: auto;
  margin: 0 10px 0 0;
  padding: 8px 0 0;
  float: left;
}
.r-c3_contents table {
  width: 100%;
  margin: 0 auto;
  border-spacing: 0;
  border-top: 1px #cccccc solid;
  border-left: 1px #cccccc solid;
  font-size: 0.95em;
  line-height: 1.4;
  box-sizing: border-box;
}
.r-c3_contents table th {
  width: 33%;
  border-bottom: 1px #cccccc solid;
  border-right: 1px #cccccc solid;
  padding: 10px 10px 10px;
  text-align: center;
  box-sizing: border-box;
  background: #efefef;
  font-weight: normal;
  vertical-align: middle;
}
.r-c3_contents table td {
  width: 33%;
  border-bottom: 1px #cccccc solid;
  border-right: 1px #cccccc solid;
  padding: 10px 10px 10px;
  text-align: center;
  box-sizing: border-box;
  vertical-align: middle;
}
.r-c3_contents .r-popupcommon_text {
  margin: 20px 0 0;
}
.r-c3_row {
  width: 15px !important;
}


/* C-4 */
.r-c4_contents div {
  max-width: 606px;
  margin: 40px auto 30px;
  text-align: center;
  line-height: 0;
}
.r-c4_contents p {
  font-size: 1em;
  line-height: 1.7;
  margin: 0 0 15px;
}
.r-c4_contents img {
  width: 100%;
  height: auto;
}
.r-c4_textRed span {
  color: #dd0000;
}
.r-c4_textBlue span {
  color: #0f58ce;
}


/* C-5 */
.r-c5_contents dl {
  width: 100%;
  margin: 0 auto 35px;
}
.r-c5_contents dl dt {
  font-size: 1.05em;
  line-height: 1.6;
  margin: 0 0 15px;
  text-indent: -1em;
  padding-left: 1em;
}
.r-c5_contents dl dd {
  font-size: 0.95em;
  line-height: 1.6;
  box-sizing: border-box;
  padding: 0 0 0 15px;
}
.r-c5_contents .r-popupcommon_linkbox_popup {
  text-align: right !important;
  margin: 0 5px 0 0;
}


/* C-6 */
.r-c6_contents h3 {
  font-size: 1.05em;
  line-height: 1.6;
  font-weight: bold;
  width: 100%;
  margin: 0 0 15px;
}
.r-c6TxtH3 {
  margin: 0 0 5px !important;
}
.r-c6_contents .r-popupcommon_text {
  margin: 0 0 20px;
}
.r-c6Img01 {
  width: 100%;
  margin: 0 auto 50px;
}
.r-c6Img01 li {
  width: 46%;
  min-height: 180px;
  margin: 0 2% 20px;
  text-align: center;
  float: left;
}
.r-c6Img01 li img {
  max-width: 140px;
}
.r-c6Img01 li span {
  display: block;
  font-size: 0.8em;
  line-height: 1.4;
}
.r-c6_2column {
  width: 100%;
  margin: 10px auto 70px;
}
.r-c6_2column div {
  width: 100%;
  max-width: 160px;
  margin: 0 auto;
  line-height: 0;
}
.r-c6_2column dl {
  width: 100%;
}
.r-c6_2column dl dt {
  display: block;
  width: 100%;
  height: 32px;
  background: #256cae;
  border-radius: 20px;
  color: #ffffff;
  font-size: 0.95em;
  line-height: 32px;
  text-align: center;
  margin: 0 0 15px;
}
.r-c6_2column dl dt span {
  font-size: 0.5em !important;
}
.r-c6Img02,.r-c6Img03 {
  width: 160px;
  margin: 0 auto;
  line-height: 0;
}
.r-c6Txt {
  font-size: 1em;
  line-height: 1.7;
  margin: 10px 0 0;
}


/* C-7 */
.r-c7_contents .r-popupcommon_textL {
  margin: 0 0 20px;
  font-weight: normal;
}
.r-c7_contents .r-popupcommon_textL span {
  color: #ed0000;
}
.r-c7_contents div {
  width: 180px;
  margin: 0 auto 25px;
  line-height: 0;
}


/* D-1 */
.r-d1_contents h2 {
  margin-bottom: 30px;
}
.r-d1_contents h3 {
  width: 100%;
  font-size: 1.2em;
  line-height: 1;
  margin: 0 auto 15px;
  font-weight: normal;
}
.r-d1_table01 {
  width: 100%;
  margin: 0 auto 0px;
  border-spacing: 0;
  border-top: 1px #cccccc solid;
  border-left: 1px #cccccc solid;
  font-size: 0.95em;
  line-height: 1.6;
  box-sizing: border-box;
}
.r-d1_table01 th {
  border-bottom: 1px #cccccc solid;
  border-right: 1px #cccccc solid;
  padding: 10px 10px 10px;
  text-align: center;
  box-sizing: border-box;
  background: #efefef;
  font-weight: normal;
}
.r-d1_table01 td {
  border-bottom: 1px #cccccc solid;
  border-right: 1px #cccccc solid;
  padding: 15px 10px 20px;
  text-align: center;
  box-sizing: border-box;
  vertical-align: top;
}
.r-d1_table01 td:nth-child(3),.r-d1_table01 td:last-child {
  text-align: left;
}
.r-d1_table01 td span {
  color: #007af4;
  font-weight: bold;
  font-size: 1.8em;
  line-height: 1;
}
.r-d1_textsmall {
  width: 100%;
  margin: 15px auto 50px;
  color: #666666;
  font-size: 0.8em;
  line-height: 1.4;
}
.r-d1_table02 {
  width: 100%;
  margin: 0 0 30px;
  border-spacing: 0;
  border-top: 1px #cccccc solid;
  border-left: 1px #cccccc solid;
  font-size: 0.95em;
  line-height: 1.6;
  box-sizing: border-box;
}
.r-d1_table02 td {
  border-bottom: 1px #cccccc solid;
  border-right: 1px #cccccc solid;
  padding: 15px 15px;
  box-sizing: border-box;
  vertical-align: middle;
}
.r-d1_table02 tr td:last-child {
  text-align: center;
}
.r-d1_button {
  display: inline-block;
  width: 62px;
  height: 40px;
  text-align: center;
  font-size: 1.2em;
  line-height: 38px;
  background-color: #ffffff;
  border-radius: 8px;
  box-sizing: border-box;
  border: 2px #ff5a5a solid;
  color: #ff5a5a;
  padding: 0 !important;
}
.r-d1_button:hover {
  background: #ff5a5a;
  color: #ffffff;
}


/* D-2 */
.r-d2_contents h3 {
  width: 100%;
  font-size: 1.2em;
  line-height: 1;
  margin: 0 auto 15px;
}
.r-d2_table01 {
  width: 100%;
  margin: 40px auto 0;
  border-spacing: 0;
  border-top: 1px #cccccc solid;
  border-left: 1px #cccccc solid;
  font-size: 0.95em;
  line-height: 1.6;
  box-sizing: border-box;
}
.r-d2_table01 th {
  /* min-width: 100px; */
  border-bottom: 1px #cccccc solid;
  border-right: 1px #cccccc solid;
  padding: 3px;
  text-align: center;
  box-sizing: border-box;
  background: #efefef;
  font-weight: normal;
}
.r-d2_table01 td {
  border-bottom: 1px #cccccc solid;
  border-right: 1px #cccccc solid;
  padding: 3px 3px 4px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
}
.r-d2_table01 td span {
  color: #007af4;
  font-weight: bold;
  font-size: 1.8em;
  line-height: 1;
}
.r-d2_table01L {
  text-align: left !important;
}
.r-d2_textsmall {
  width: 100%;
  margin: 15px auto 60px;
  color: #666666;
  font-size: 0.8em;
  line-height: 1.4;
}
.r-d2_table02 {
  width: 100%;
  border-spacing: 0;
  border-top: 1px #cccccc solid;
  border-left: 1px #cccccc solid;
  font-size: 0.95em;
  line-height: 1.6;
  box-sizing: border-box;
  text-align: center;
}
.r-d2_table02 td {
  border-bottom: 1px #cccccc solid;
  border-right: 1px #cccccc solid;
  padding: 15px 15px 15px;
  box-sizing: border-box;
  vertical-align: middle;
}
.r-d2_table02L {
  text-align: left;
}
.r-d2_button {
  display: inline-block;
  width: 62px;
  height: 40px;
  text-align: center;
  font-size: 1.2em;
  line-height: 38px;
  background-color: #ffffff;
  border-radius: 8px;
  box-sizing: border-box;
  border: 2px #ff5a5a solid;
  color: #ff5a5a;
  padding: 0 !important;
}
.r-d2_button:hover {
  background: #ff5a5a;
  color: #ffffff;
}


/* E-1 */
.r-e1_contents .r-popupcommon_text {
  width: 100%;
  margin: 0 auto 20px;
}
.r-e1_contents table {
  width: 100%;
  margin: 0 auto;
  border-spacing: 0;
  border-top: 1px #cccccc solid;
  border-left: 1px #cccccc solid;
  font-size: 0.95em;
  line-height: 1.4;
  box-sizing: border-box;
}
.r-e1_contents table th {
  width: 25%;
  border-bottom: 1px #cccccc solid;
  border-right: 1px #cccccc solid;
  padding: 15px 10px;
  text-align: center;
  box-sizing: border-box;
  background: #efefef;
  font-weight: normal;
  vertical-align: middle;
}
.r-e1_contents table td {
  border-bottom: 1px #cccccc solid;
  border-right: 1px #cccccc solid;
  text-align: center;
  box-sizing: border-box;
  padding: 15px 15px;
  vertical-align: middle;
}


/* E-2 */
.r-e2_text01 {
  margin-bottom: 20px;
}
.r-e2_text02 {
  margin-top: 50px;
  margin-bottom: 10px;
}
.r-e2Img {
  width: 100%;
  max-width: 600px;
  line-height: 0;
}
.r-e2Img img {
  width: 100%;
  height: auto;
}
.r-e2ImgLast {
  margin: 30px 0 0;
}


/* E-3 */
.r-e3_contents .r-popupcommon2column {
  width: 100%;
  margin: 30px auto 35px;
}
.r-e3_contents .r-popupcommon2column div {
  width: 150px;
  margin: 0 auto;
  line-height: 0;
}
.r-e3_contents .r-popupcommon2columnTxt {
  font-size: 1.05em;
  line-height: 1.6;
  padding: 25px 0 0;
  text-align: left;
  font-weight: bold;
}
.r-e3_contents h3 {
  width: 100%;
  color: #ffffff;
  background: #f97319;
  border-radius: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1;
  margin: 0 0 15px;
  padding: 10px 0;
}
.r-e3_contents .r-popupcommon_text {
  margin: 0 0 40px;
}


/* E-4 */
.r-e4_contents .r-popupcommon2column {
  width: 100%;
  margin: 30px auto 35px;
}
.r-e4_contents .r-popupcommon2column div {
  width: 150px;
  margin: 0 auto;
  line-height: 0;
}
.r-e4_contents .r-popupcommon2columnTxt {
  font-size: 1.05em;
  line-height: 1.6;
  padding: 25px 0 0;
  text-align: left;
  font-weight: bold;
}
.r-e4_contents h3 {
  width: 100%;
  color: #ffffff;
  background: #f97319;
  border-radius: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1;
  margin: 0 0 15px;
  padding: 10px 0;
}
.r-e4_contents .r-popupcommon_text {
  margin: 0 0 40px;
}


/* E-5 */
.r-e5_contents .r-popupcommon2column {
  width: 100%;
  margin: 30px auto 35px;
}
.r-e5_contents .r-popupcommon2column div {
  width: 150px;
  margin: 0 auto;
  line-height: 0;
}
.r-e5_contents .r-popupcommon2columnTxt {
  font-size: 1.05em;
  line-height: 1.6;
  padding: 25px 0 0;
  text-align: left;
  font-weight: bold;
}
.r-e5_contents h3 {
  width: 100%;
  color: #ffffff;
  background: #f97319;
  border-radius: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1;
  margin: 0 0 15px;
  padding: 10px 0;
}
.r-e5_contents .r-popupcommon_text {
  margin: 0 0 0px;
}
.r-e5_map {
  margin: 30px 0 50px;
}
.r-e5_map h5 {
  text-align: center;
  font-size: 0.95em;
  line-height: 1;
  font-weight: bold;
  background: url(../images/r-e5Midashi.png) no-repeat center center;
}
.r-e5_map h5 span {
  background: #ffffff;
  padding: 0 12px;
}
.r-e5_textS {
  color: #666666;
  font-size: 0.9em;
  line-height: 1.7;
  margin: 12px 0 0;
}
.r-e5_button {
  display: block;
  width: 200px;
  height: 50px;
  text-align: center;
  font-size: 0.95em;
  line-height: 45px;
  background: url(../images/r-btnIconR.png) no-repeat;
  background-position: left 35px center;
  border-radius: 25px;
  border: 2px #cccccc solid;
  box-sizing: border-box;
  font-weight: bold;
  margin: 15px auto 0;
}
.r-e5_button:hover {
  color: #cf1623;
  text-decoration: none;
  border: 2px #cf1623 solid;
}


/* E-6 */
.r-e6_text {
  font-size: 1.05em;
  line-height: 1.6;
  width: 100%;
  margin: 0 auto 20px;
  font-weight: bold;
}
.r-e6_image {
  width: 100%;
  margin: 0 0 10px;
}
.r-e6_image li {
  width: 46%;
  max-width: 240px;
  margin: 0 2% 40px;
  text-align: center;
  float: left;
}
.r-e6_image li span {
  font-size: 0.9em;
  line-height: 1.4;
}
.r-e6_image li:first-child img {
  margin: 0px 0 10px;
}
.r-e6_contents.r-popupcommon_contents {
  padding: 0 8px 8px 8px;
}
.r-e6_contents h3 {
  width: 100%;
  color: #ffffff;
  background: #f97319;
  border-radius: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1;
  margin: 0 0 15px;
  padding: 10px 0;
}
.r-e6_contents .r-popupcommon_text {
  margin: 0 0 40px;
}
.r-e6_contents table {
  width: 100%;
  margin: 30px auto 0;
  border-spacing: 0;
  border-top: 1px #cccccc solid;
  border-left: 1px #cccccc solid;
  font-size: 0.95em;
  line-height: 1.5;
  box-sizing: border-box;
}
.r-e6_contents table th {
  border-bottom: 1px #cccccc solid;
  border-right: 1px #cccccc solid;
  padding: 13px;
  text-align: center;
  box-sizing: border-box;
  background: #e4e4e4;
  font-weight: normal;
  vertical-align: middle;
}
.r-e6_contents table th.left {
  background: #efefef;
  text-align: left;
}
.r-e6_contents table td {
  border-bottom: 1px #cccccc solid;
  border-right: 1px #cccccc solid;
  padding: 15px 10px 40px;
  text-align: left;
  box-sizing: border-box;
  vertical-align: top;
}
.r-e6_col1 {
  min-width: 50px;
  max-width: 80px;
}
.r-e6_col2 {
  width: 40%;
}


/* E-7 */
.r-e7_contents .r-popupcommon2column {
  width: 100%;
  margin: 30px auto 35px;
}
.r-e7_contents .r-popupcommon2column div {
  width: 150px;
  margin: 0 auto;
  line-height: 0;
}
.r-e7_contents .r-popupcommon2columnTxt {
  font-size: 1.05em;
  line-height: 1.6;
  padding: 25px 0 0;
  text-align: left;
  font-weight: bold;
}
.r-e7_contents h3 {
  width: 100%;
  color: #ffffff;
  background: #f97319;
  border-radius: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1;
  margin: 0 0 15px;
  padding: 10px 0;
}
.r-e7_contents .r-popupcommon_text {
  margin: 0 0 40px;
}


/* E-8 */
.r-e8_text {
  font-size: 1.05em;
  line-height: 1.6;
  width: 100%;
  margin: 0 0 30px;
  font-weight: bold;
}
.r-e8_image {
  width: 100%;
  margin: 0 0 10px;
}
.r-e8_image li {
  width: 46%;
  max-width: 270px;
  margin: 0 2% 40px;
  text-align: center;
  float: left;
}
.r-e8_image li span {
  font-size: 0.9em;
  line-height: 1.4;
}
.r-e8_image img {
  width: 100%;
  height: auto;
}
.r-e8_contents h3 {
  width: 100%;
  color: #ffffff;
  background: #f97319;
  border-radius: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1;
  margin: 0 0 15px;
  padding: 10px 0;
}
.r-e8_contents .r-popupcommon_text {
  width: 100%;
  margin: 0 0 50px;
}
.r-e8_marginnone {
  margin-bottom: 0 !important;
}
.r-e8_textS {
  color: #666666;
  font-size: 0.9em;
  line-height: 1.7;
  width: 100%;
  margin: 20px 0 0;
}
.r-e8_contents table {
  width: 100%;
  margin: 30px auto 0;
  border-spacing: 0;
  border-top: 1px #cccccc solid;
  border-left: 1px #cccccc solid;
  font-size: 0.95em;
  line-height: 1.5;
  box-sizing: border-box;
}
.r-e8_contents table th {
  border-bottom: 1px #cccccc solid;
  border-right: 1px #cccccc solid;
  padding: 10px 0 10px;
  text-align: center;
  box-sizing: border-box;
  background: #efefef;
  font-weight: normal;
  vertical-align: middle;
}
.r-e8_contents table td {
  border-bottom: 1px #cccccc solid;
  border-right: 1px #cccccc solid;
  padding: 15px 10px;
  text-align: center;
  box-sizing: border-box;
  vertical-align: middle;
}


/* E-9 */
.r-e9_contents .r-popupcommon2column {
  width: 100%;
  margin: 30px auto 35px;
}
.r-e9_contents .r-popupcommon2column div {
  width: 60px;
  margin: 0 auto;
  line-height: 0;
}
.r-e9_contents .r-popupcommon2columnTxt {
  font-size: 1.05em;
  line-height: 1.6;
  padding: 15px 0 0;
  text-align: left;
  font-weight: bold;
}
.r-e9_contents h3 {
  width: 100%;
  color: #ffffff;
  background: #f97319;
  border-radius: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1;
  margin: 0 0 15px;
  padding: 10px 0;
}
.r-e9_contents .r-popupcommon_text {
  margin: 0 0 40px;
}
.r-e9_marginnone {
  margin-bottom: 0 !important;
}
.r-e9_damage {
  margin: 30px 0 45px;
}
.r-e9_damage dt {
  display: inline-block;
  background: #e1dedc;
  font-weight: bold;
  font-size: 1em;
  line-height: 1;
  margin: 0 0 10px;
  padding: 8px 15px 5px;
}
.r-e9_damage dd {
  font-size: 0.95em;
  line-height: 1.6;
}
.r-e9_damage dd li {
  margin: 0 0 3px;
}
.r-e9_damage dd span {
  color: #bab3af;
}
.r-e9_amount {
  width: 100%;
  background: #faf2e8;
  margin: 0 0 40px;
  padding: 0 0 20px;
}
.r-e9_amount h4 {
  width: 226px;
  height: 40px;
  background: url(../images/r-e9Midashi.png) no-repeat center center;
  color: #ffffff;
  font-size: 1em;
  line-height: 40px;
  box-sizing: border-box;
  margin: 0 0 0 15px;
  padding: 0 0 0 20px;
  position: relative;
  top: -12px
}
.r-e9_amount table {
  width: 94%;
  margin: 0 auto;
  border-spacing: 0;
  font-size: 1em;
  line-height: 1;
  font-weight: bold;
}
.r-e9Img02 {
  width: 150px;
  margin: 0 auto;
  line-height: 0;
}
.r-e9_amount table tr td {
  padding-top: 8px;
  padding-bottom: 8px;
}
.r-e9_amount table tr td span {
  color: #f29a7e;
}
.r-e9_amount table tr td:first-child {
  padding-left: 8px;
}
.r-e9_amount table tr td:last-child {
  text-align: right;
  padding-right: 30px;
}
.r-e9_totalamount {
  border-top: 1px #000000 solid;
  font-size: 1.05em;
  line-height: 1.2;
  vertical-align: middle;
}
.r-e9_bluetext {
  color: #256cae;
  font-size: 1.05em;
  line-height: 1.6;
  margin: 20px 0 10px;
  font-weight: bold;
}
.r-e9_marginleft {
  margin: 0 0 40px !important;
}


/* E-10 */
.r-e10_contents .r-popupcommon_textL {
  margin-bottom: 8px;
  font-weight: bold;
}
.r-e10_contents .r-popupcommon_textL img {
  width: 100px;
  margin-right: 10px;
}
.r-e10_contents .r-popupcommon_textL span {
  color: #ed7700;
}
.r-e10_cost {
  width: 100%;
  margin: 20px auto 0;
}
.r-e10_cost li {
  display: block;
  width: 235px;
  height: 220px;
  position: relative;
  margin: 0 auto;
}
.r-e10_cost01 {
  background: url(../images/r-e10Img01.png) no-repeat center center;
}
.r-e10_cost02 {
  background: url(../images/r-e10Img02.png) no-repeat center center;
}
.r-e10_cost03 {
  background: url(../images/r-e10Img03.png) no-repeat center center;
}
.r-e10_cost04 {
  background: url(../images/r-e10Img04.png) no-repeat center center;
}
.r-e10_cost05 {
  background: url(../images/r-e10Img05.png) no-repeat center center;
}
.r-e10_cost06 {
  background: url(../images/r-e10Img06.png) no-repeat center center;
}
.r-e10_cost li p {
  padding: 30px 0 0;
}
.r-e10_cost01 p {
  margin: 0 0 0 95px;
}
.r-e10_cost02 p {
  margin: 0 0 0 80px;
}
.r-e10_cost03 p {
  margin: 0 0 0 90px;
}
.r-e10_cost04 p {
  margin: 0 0 0 50px;
}
.r-e10_cost05 p {
  margin: 0 0 0 50px;
}
.r-e10_cost06 p {
  margin: 0 0 0 60px;
}
.r-e10_cost li p a {
  color: #256cae;
  font-size: 0.95em;
  line-height: 1;
}
.r-e10_cost01 span,.r-e10_cost02 span,.r-e10_cost03 span {
  line-height: 0;
  position: absolute;
  top: 80px;
  right: 15px;
}
.r-e10_cost04 span,.r-e10_cost05 span,.r-e10_cost06 span {
  line-height: 0;
  position: absolute;
  top: 80px;
  right: 60px;
}


/* E-11 */
.r-e11_contents .r-popupcommon_textL {
  margin-bottom: 8px;
  font-weight: bold;
}
.r-e11_contents .r-popupcommon_textL img {
  width: 100px;
  margin-right: 10px;
}
.r-e11_contents .r-popupcommon_textL span {
  color: #ed7700;
}
.r-e11_cost {
  width: 100%;
  margin: 20px auto 0;
}
.r-e11_cost li {
  display: block;
  width: 250px;
  height: 220px;
  position: relative;
  margin: 0 auto 10px;
}
.r-e11_cost01 {
  background: url(../images/r-e11Img01.png) no-repeat center center;
}
.r-e11_cost02 {
  background: url(../images/r-e11Img02.png) no-repeat center center;
}
.r-e11_cost li p {
  padding: 30px 0 0;
}
.r-e11_cost01 p {
  margin: 0 0 0 103px;
}
.r-e11_cost02 p {
  margin: 0 0 0 60px;
}
.r-e11_cost li p a {
  color: #256cae;
  font-size: 0.95em;
  line-height: 1;
}
.r-e11_cost01 span {
  line-height: 0;
  position: absolute;
  top: 80px;
  right: 17px;
}
.r-e11_cost02 span {
  line-height: 0;
  position: absolute;
  top: 80px;
  right: 65px;
}


/* E-12 */
.r-e12_contents .r-popupcommon2column {
  width: 100%;
  margin: 30px auto 35px;
}
.r-e12_contents .r-popupcommon2column div {
  width: 150px;
  margin: 0 auto;
  line-height: 0;
}
.r-e12_contents .r-popupcommon2columnTxt {
  font-size: 1.05em;
  line-height: 1.6;
  padding: 25px 0 0;
  text-align: left;
  font-weight: bold;
}
.r-e12_contents h3 {
  width: 100%;
  color: #ffffff;
  background: #f97319;
  border-radius: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1;
  margin: 0 0 15px;
  padding: 10px 0;
}
.r-e12_contents .r-popupcommon_text {
  margin: 0 0 40px;
}


/* E-13 */
.r-e13_note {
  color: #ffffff;
  background: #e80f0f;
  display: inline-block;
  height: 25px;
  font-size: 0.75em;
  line-height: 25px;
  border-radius: 7px;
  text-align: center;
  font-weight: normal;
  padding: 0 10px;
  position: absolute;
  top: 74px;
  right: 10px;
}
.r-e13_contents .r-popupcommon2column {
  width: 100%;
  margin: 30px auto 35px;
}
.r-e13_contents .r-popupcommon2column div {
  width: 150px;
  margin: 0 auto;
  line-height: 0;
}
.r-e13_contents .r-popupcommon2columnTxt {
  font-size: 1.05em;
  line-height: 1.6;
  padding: 25px 0 0;
  text-align: left;
  font-weight: bold;
}
.r-e13_contents .r-popupcommon2columnTxt span {
  display: block;
  font-size: 0.75em;
  line-height: 1.6;
  margin: 5px 0 0;
  font-weight: normal !important;
}
.r-e13_contents h3 {
  width: 100%;
  color: #ffffff;
  background: #f97319;
  border-radius: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1;
  margin: 0 0 15px;
  padding: 10px 0;
}
.r-e13_contents .r-popupcommon_text {
  margin: 0 0 40px;
}


/* E-14 */
.r-e14_note {
  color: #ffffff;
  background: #e80f0f;
  display: inline-block;
  height: 25px;
  font-size: 0.75em;
  line-height: 25px;
  border-radius: 7px;
  text-align: center;
  font-weight: normal;
  padding: 0 10px;
  position: absolute;
  top: 74px;
  right: 10px;
}
.r-e14_contents .r-popupcommon2column {
  width: 100%;
  margin: 30px auto 35px;
}
.r-e14_contents .r-popupcommon2column div {
  width: 150px;
  margin: 0 auto;
  line-height: 0;
}
.r-e14_contents .r-popupcommon2columnTxt {
  font-size: 1.05em;
  line-height: 1.6;
  padding: 25px 0 0;
  text-align: left;
  font-weight: bold;
}
.r-e14_contents .r-popupcommon2columnTxt span {
  display: block;
  font-size: 0.75em;
  line-height: 1.6;
  margin: 5px 0 0;
  font-weight: normal !important;
}
.r-e14_contents h3 {
  width: 100%;
  color: #ffffff;
  background: #f97319;
  border-radius: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1;
  margin: 0 0 15px;
  padding: 10px 0;
}
.r-e14_contents .r-popupcommon_text {
  margin: 0 0 40px;
}


/* E-15 */
.r-e15_note {
  color: #ffffff;
  background: #e80f0f;
  display: inline-block;
  height: 25px;
  font-size: 0.75em;
  line-height: 25px;
  border-radius: 7px;
  text-align: center;
  font-weight: normal;
  padding: 0 10px;
  position: absolute;
  top: 74px;
  right: 10px;
}
.r-e15_contents .r-popupcommon2column {
  width: 100%;
  margin: 30px auto 35px;
}
.r-e15_contents .r-popupcommon2column div {
  width: 150px;
  margin: 0 auto;
  line-height: 0;
}
.r-e15_contents .r-popupcommon2columnTxt {
  font-size: 1.05em;
  line-height: 1.6;
  padding: 25px 0 0;
  text-align: left;
  font-weight: bold;
}
.r-e15_contents .r-popupcommon2columnTxt span {
  display: block;
  font-size: 0.75em;
  line-height: 1.6;
  margin: 5px 0 0;
  font-weight: normal !important;
}
.r-e15_contents h3 {
  width: 100%;
  color: #ffffff;
  background: #f97319;
  border-radius: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1;
  margin: 0 0 15px;
  padding: 10px 0;
}
.r-e15_contents .r-popupcommon_text {
  margin: 0 0 40px;
}


/* E-16 */
.r-e16_note {
  color: #ffffff;
  background: #e80f0f;
  display: inline-block;
  height: 25px;
  font-size: 0.75em;
  line-height: 25px;
  border-radius: 7px;
  text-align: center;
  font-weight: normal;
  padding: 0 10px;
  position: absolute;
  top: 74px;
  right: 10px;
}
.r-e16_contents .r-popupcommon2column {
  width: 100%;
  margin: 30px auto 35px;
}
.r-e16_contents .r-popupcommon2column div {
  width: 150px;
  margin: 0 auto;
  line-height: 0;
}
.r-e16_contents .r-popupcommon2columnTxt {
  font-size: 1.05em;
  line-height: 1.6;
  padding: 25px 0 0;
  text-align: left;
  font-weight: bold;
}
.r-e16_contents .r-popupcommon2columnTxt span {
  display: block;
  font-size: 0.75em;
  line-height: 1.6;
  margin: 5px 0 0;
  font-weight: normal !important;
}
.r-e16_contents h3 {
  width: 100%;
  color: #ffffff;
  background: #f97319;
  border-radius: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1;
  margin: 0 0 15px;
  padding: 10px 0;
}
.r-e16_contents .r-popupcommon_text {
  margin: 0 0 40px;
}


/* E-17 */
.r-e17_note {
  color: #ffffff;
  background: #e80f0f;
  display: inline-block;
  height: 25px;
  font-size: 0.75em;
  line-height: 25px;
  border-radius: 7px;
  text-align: center;
  font-weight: normal;
  padding: 0 10px;
  position: absolute;
  top: 74px;
  right: 10px;
}
.r-e17_contents .r-popupcommon2column {
  width: 100%;
  margin: 30px auto 35px;
}
.r-e17_contents .r-popupcommon2column div {
  width: 150px;
  margin: 0 auto;
  line-height: 0;
}
.r-e17_contents .r-popupcommon2columnTxt {
  font-size: 1.05em;
  line-height: 1.6;
  padding: 25px 0 0;
  text-align: left;
  font-weight: bold;
}
.r-e17_contents .r-popupcommon2columnTxt span {
  display: block;
  font-size: 0.75em;
  line-height: 1.6;
  margin: 5px 0 0;
  font-weight: normal !important;
}
.r-e17_contents h3 {
  width: 100%;
  color: #ffffff;
  background: #f97319;
  border-radius: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1;
  margin: 0 0 15px;
  padding: 10px 0;
}
.r-e17_contents .r-popupcommon_text {
  margin: 0 0 40px;
}


/* E-19 */
.r-e19_text {
  font-size: 1.05em;
  line-height: 1.6;
  width: 100%;
  margin: 0 0 30px;
  font-weight: bold;
}
.r-e19_contents h3 {
  width: 100%;
  color: #ffffff;
  background: #f97319;
  border-radius: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1;
  margin: 0 0 15px;
  padding: 10px 0;
}
.r-e19_contents .r-popupcommon2columnBtm div {
  width: 150px;
  margin: 20px auto 40px;
  line-height: 0;
}


/* E-20 */
.r-e20_text {
  font-size: 1.05em;
  line-height: 1.6;
  width: 100%;
  margin: 0 0 30px;
  font-weight: bold;
}
.r-e20_contents h3 {
  width: 100%;
  color: #ffffff;
  background: #f97319;
  border-radius: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1;
  margin: 0 0 15px;
  padding: 10px 0;
}
.r-e20_contents .r-popupcommon2columnBtm div {
  width: 150px;
  margin: 20px auto 40px;
  line-height: 0;
}


/* E-21 */
.r-e21_text {
  font-size: 1.05em;
  line-height: 1.6;
  width: 100%;
  margin: 0 0 30px;
  font-weight: bold;
}
.r-e21_contents h3 {
  width: 100%;
  color: #ffffff;
  background: #f97319;
  border-radius: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1;
  margin: 0 0 15px;
  padding: 10px 0;
}
.r-e21_contents .r-popupcommon2columnBtm div {
  width: 150px;
  margin: 20px auto 40px;
  line-height: 0;
}


/* E-22 */
.r-e22_text {
  font-size: 1.05em;
  line-height: 1.6;
  width: 100%;
  margin: 0 0 30px;
  font-weight: bold;
}
.r-e22_contents h3 {
  width: 100%;
  color: #ffffff;
  background: #f97319;
  border-radius: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1;
  margin: 0 0 15px;
  padding: 10px 0;
}
.r-e22_contents .r-popupcommon2columnBtm div {
  width: 150px;
  margin: 20px auto 40px;
  line-height: 0;
}


/* E-23 */
.r-e23_text {
  font-size: 1.05em;
  line-height: 1.6;
  width: 100%;
  margin: 0 0 30px;
  font-weight: bold;
}
.r-e23_contents h3 {
  width: 100%;
  color: #ffffff;
  background: #f97319;
  border-radius: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1;
  margin: 0 0 15px;
  padding: 10px 0;
}
.r-e23_contents .r-popupcommon2columnBtm div {
  width: 150px;
  margin: 20px auto 40px;
  line-height: 0;
}


/* E-24 */
.r-e24_text {
  font-size: 1.05em;
  line-height: 1.6;
  width: 100%;
  margin: 0 0 30px;
  font-weight: bold;
}
.r-e24_contents h3 {
  width: 100%;
  color: #ffffff;
  background: #f97319;
  border-radius: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1;
  margin: 0 0 15px;
  padding: 10px 0;
}
.r-e24_contents .r-popupcommon2columnBtm div {
  width: 150px;
  margin: 20px auto 40px;
  line-height: 0;
}


/* E-25 */
.r-e25_note {
  color: #ffffff;
  background: #e80f0f;
  display: inline-block;
  height: 25px;
  font-size: 0.75em;
  line-height: 25px;
  border-radius: 7px;
  text-align: center;
  font-weight: normal;
  padding: 0 10px;
  position: absolute;
  top: 53px;
  right: 10px;
}
.r-e25_text01 {
  font-size: 1.05em;
  line-height: 1.6;
  width: 100%;
  margin: 0 auto 10px;
  font-weight: bold;
}
.r-e25_redtext01 {
  font-size: 1.1em;
  line-height: 1.6;
  color: #f78181;
  font-weight: bold;
  text-align: center;
  margin: 0 0 10px;
}
.r-e25_contents h3 {
  width: 100%;
  color: #ffffff;
  background: #f97319;
  border-radius: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1;
  margin: 0 0 15px;
  padding: 10px 0;
}
.r-e25Img01 {
  width: 100%;
  max-width: 710px;
  margin: 20px 0 50px;
  line-height: 0;
}
.r-e25Img01 img {
  width: 100%;
  height: auto;
}
.r-e25_redtext02 {
  width: 100%;
  background: url(../images/r-e25Midashi.png) repeat-x center center;
  font-size: 1.05em;
  line-height: 1;
  color: #f78181;
  font-weight: bold;
  text-align: center;
  margin: 0 auto 25px;
}
.r-e25_redtext02 span {
  background: #ffffff;
  padding: 0 12px 0 15px;
}
.r-e25_text02 {
  width: 100%;
  text-align: center;
  margin: 0 0 20px;
}
.r-e25_text02 dt {
  background: #7f6750;
  display: inline-block;
  color: #ffffff;
  width: 100%;
  height: 30px;
  border-radius: 20px;
  text-align: center;
  font-size: 1.1em;
  line-height: 32px;
  margin: 0 0 10px;
}
.r-e25_text02 dd {
  box-sizing: border-box;
  padding: 0 0 0 15px;
}
.r-e25_text02 dd span {
  color: #7f6750;
}
.r-e25_text02 dd ul li {
  text-indent: -1.7em;
  padding-left: 1.7em;
  font-size: 0.95em;
  line-height: 1.5;
  margin: 0 0 9px;
}
.r-e25Img02 {
  width: 100%;
  max-width: 710px;
  margin: 25px 0 50px;
  text-align: center;
  line-height: 0;
}
.r-e25Img02 img {
  width: 100%;
  height: auto;
}
.r-e25_asterisk {
  font-size: 0.7em;
  display: inline-block;
  position: relative;
  bottom: 10px;
  right: 5px;
}
.r-e25_text02 {
  font-size:0.7em;
}

/* E-26 */
.r-e26_note {
  color: #ffffff;
  background: #e80f0f;
  display: inline-block;
  font-size: 0.75em;
  line-height: 1.4;
  border-radius: 7px;
  text-align: center;
  font-weight: normal;
  padding: 5px 10px;
  position: absolute;
  top: 38px;
  right: 10px;
}
.r-e26_text {
  font-size: 1.05em;
  line-height: 1.6;
  width: 100%;
  margin: 0 0 30px;
  font-weight: bold;
}
.r-e26_contents h3 {
  width: 100%;
  color: #ffffff;
  background: #f97319;
  border-radius: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1;
  margin: 0 0 15px;
  padding: 10px 0;
}
.r-e26_contents .r-popupcommon2columnBtm div {
  width: 150px;
  margin: 20px auto 40px;
  line-height: 0;
}


/* F-1 */
.r-f1_text {
  font-size: 1.05em;
  line-height: 1.6;
  width: 100%;
  font-weight: bold;
}


/* G-1 */
.r-g1_text {
  font-size: 1.05em;
  line-height: 1.6;
  width: 100%;
  font-weight: bold;
}


/* I-1 */
.r-i1_text {
  font-size: 1.05em;
  line-height: 1.6;
  font-weight: bold;
}
.r-i1_contents div {
  width: 100%;
  max-width: 434px;
  margin: 15px 0 20px;
  line-height: 0;
}

/* 追加ポップアップ共通 */
.r-popupcommon_contents {
  width: 100%;
  padding: 5px 10px 30px;
  box-sizing: border-box;
}
.r-popupcommon_contents img {
  height: auto;
}
.r-popupcommon_midashi {
  color: #256cae;
  font-size: 1.3em;
  line-height: 1.4;
  font-weight: bold;
  margin: 0 0 20px;
  padding: 0 0 15px 2em;
  border-bottom: 1px #aaaaaa solid;
  text-indent: -2em;
}
.r-popupcommon_midashi:before {
  content: url(../images/r-popupTtl.png);
  position: relative;
  top: 9px;
  margin-right: 8px;
}
.r-popupcommon_text {
  font-size: 0.95em;
  line-height: 1.6;
}
.r-popupcommon_redTxt {
  color: #cf1623;
}
.r-popupcommon_textL {
  font-size: 1.05em;
  line-height: 1.6;
}
.r-popupcommon_list {
  font-size: 0.95em;
  line-height: 1.6;
}
.r-popupcommon_list li {
  margin: 0 0 3px;
}
.r-popupcommon_linkbox {
  width: 100%;
  box-sizing: border-box;
  margin: 30px 0 0;
  padding: 20px 20px 30px;
  border: 1px #015ba2 dashed;
  border-radius: 20px;
}
.r-popupcommon_linkbox h3 {
  font-size: 0.95em;
  line-height: 1;
  margin: 0 0 20px;
  font-weight: bold;
}
.r-popupcommon_linkbox ul {
  margin: 0 0 15px;
  padding: 0 0 15px;
  border-bottom: 1px #cccccc solid;
}
.r-popupcommon_linkbox ul li {
  line-height: 1.4;
  margin: 0 0 12px;
}
.r-popupcommon_linkbox ul li a {
  font-size: 0.9em;
  color: #3869ac;
  text-decoration: underline;
}
.r-popupcommon_linkbox ul li a:hover {
  text-decoration: none;
}
.r-popupcommon_linkbox_popup {
  line-height: 1.4;
}
.r-popupcommon_linkbox_popup:before {
  content: '';
  /* background: url(../images/r-popup.png) no-repeat center center; */
  width: 20px;
  height: 20px;
  background-size: contain;
  display: inline-block;
  position: relative;
  top: 5px;
  left: 0;
  margin: 0 4px 0 0;
}
.r-popupcommon_linkbox_popup a {
  font-size: 0.9em;
  color: #3869ac;
  text-decoration: underline;
}
.r-popupcommon_linkbox_popup a:hover {
  text-decoration: none;
}
.r-popupcommon_linkbox_popup {
  text-align: center;
}
